<div id="errTrackingNoListPage">
    <div class="row functionBar">
        <ol class="breadcrumb">
            当前位置：
            <li class="active">问题运单号列表</li>
        </ol>

        <div class="searchBarControl">
            <a href="" ng-click="showSearchBar()" ng-if="!isSearchBarShow()"><i class="fa fa-caret-down"></i> 显示搜索栏</a>
            <a href="" ng-click="hideSearchBar()" ng-if="isSearchBarShow()"><i class="fa fa-caret-up"></i> 隐藏搜索栏</a>
        </div>
    </div>
    <div class="row" ng-class="{'show':isSearchBarShow(),'hidden':!isSearchBarShow()}">
        <div class="panel panel-default panel-search">
            <div class="panel-body ">
                <div class="row">
                    <div class="col-lg-24">
                        <form class="form-horizontal" role="form" id="errTrackingNoSearchForm"
                              name="errTrackingNoSearchForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="orderNumber" class="col-sm-8 control-label">订单编号:</label>

                                        <div class="col-sm-16">
                                            <input id="orderNumber" ng-model="query.orderNo" name="orderNo" ng-type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label  class="col-sm-8 control-label">物流公司:</label>

                                        <div class="col-sm-16">
                                            <select id="carrierSelect"  class="col-sm-12 form-control"  ng-model="query.carrierCode"    ng-options="item.code as item.name for item in $logisticsCompanies" >
                                                <option value="">------请选择--------</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">
                                            下单时间:
                                        </label>

                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown1" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="orderTimeBegin" type="text" name="orderTimeBegin"
                                                               class="form-control"
                                                               data-ng-model="query.orderTimeBegin" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.orderTimeBegin"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown1',minView:'day'}"/>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-sm-2"  >
                                            <label  class="control-label">至</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown2" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="orderTimeEnd" type="text" name="orderTimeEnd"
                                                               class="form-control"
                                                               data-ng-model="query.orderTimeEnd" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.orderTimeEnd"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown2',minView:'day'}"/>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end of .form-group -->
                                </div>


                            </div>
                            <!--end of .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="trackingNo" class="col-sm-8 control-label">运单号:</label>

                                        <div class="col-sm-16">
                                            <input id="trackingNo" ng-model="query.transportNo" name="transportNo" ng-type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label  class="col-sm-8 control-label">状态:</label>

                                        <div class="col-sm-16">
                                            <select id="statusSelect" class="col-sm-12 form-control"  ng-model="query.handlingStatus" >
                                                <option value="">------请选择--------</option>
                                                <option value="1">未处理</option>
                                                <option value="2">已处理</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">
                                            发货时间:
                                        </label>

                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown3" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="deliveryTimeBegin" type="text" name="deliveryTimeBegin"
                                                               class="form-control"
                                                               data-ng-model="query.deliveryTimeBegin" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.deliveryTimeBegin"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown3',minView:'day'}"/>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-sm-2" >
                                            <label class="control-label">至</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown4" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="deliveryTimeEnd" type="text" name="deliveryTimeEnd"
                                                               class="form-control"
                                                               data-ng-model="query.deliveryTimeEnd" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.deliveryTimeEnd"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown4',minView:'day'}"/>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end of .form-group -->
                                </div>
                                <!--end of .row -->

                            </div>
                            <!-- end of .row -->
                            <div class="row">
                                <div class="col-sm-17"></div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <button id="searchBtn" name="searchBtn" class="btn btn-primary btn-block" ng-disabled="errTrackingNoSearchForm.$invalid"
                                                ng-click="search()">
                                            <span class="glyphicon glyphicon-search"></span> 搜 &nbsp; &nbsp; &nbsp;索
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <!-- end of .col-sm-5 -->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <button class="btn btn-default" ng-click="reset()">重置</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end of .col-lg-24 -->
                </div>
                <!-- end of .row (nestest)-->
            </div>
            <!-- end of .panel-body -->
        </div>
        <!-- end of .panel -->
    </div>
    <!-- end of .row (first)-->
    <div class="row">
        <div class="panel panel-default panel-list-page">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12 pagination-box pull-right text-right">
                        <div ng-table-pagination="errTrackingNoTableParams" template-url="$templates.paginationShort"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-include="templates.errTrackingNoTable"></div>
                </div>

                <div class="loading" ng-if="!$loadedErrTrackingNo"></div>
                <!-- /.loading -->
            </div>
            <div class="panel-footer">
                <div ng-table-pagination="errTrackingNoTableParams" template-url="$templates.pagination"></div>
            </div>
        </div>
    </div>
    <!-- end of .row -->

</div>


<!--运单号详情-->
<div ng-include="templates.errTrackingNoDetailModal">
</div>

<!--修改运单号-->
<div class="modal fade" id="updateTrackingNoModal" role="dialog">
    <div class="modal-dialog">
    </div>
</div>

<!--订单详情-->
<div id="orderDetailPage">
</div>