<div ng-repeat="model in models">
    <div ng-repeat="productGroup in model.productGroupList">
        <div class="printDeliverList">
            <!-- 收货信息 -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="summary pull-left">
                            <table class="table-condensed">
                                <tbody>
                                <tr>
                                    <td class="text-center" width="100px;">订单号：</td>
                                    <td>{{model.orderNumber}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">收货人：</td>
                                    <td>{{model.receiver}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">电&nbsp;&nbsp;&nbsp;话：</td>
                                    <td>{{model.tel}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">地&nbsp;&nbsp;&nbsp;址：</td>
                                    <td>{{model.address}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center">备&nbsp;&nbsp;&nbsp;注：</td>
                                    <td>{{model.remark}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pull-right">
                            <img class="logo" src="/img/feifei-logo.jpg">
                        </div>
                    </div>
                    <table class="detail table table-condensed text-center">
                        <thead>
                        <tr>
                            <th style="width:50px;">序号</th>
                            <th style="width:80px;">商品编号</th>
                            <th>商品名称</th>
                            <th style="width:80px;">单价（元）</th>
                            <th style="width:50px;">数量</th>
                            <th style="width:80px;">金额（元）</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in productGroup">
                            <td>{{product.index}}</td>
                            <td>{{product.productNumber}}</td>
                            <td>{{product.productName}}</td>
                            <td>{{product.productPerPrice | currency:''}}</td>
                            <td>{{product.productQty}}</td>
                            <td>{{product.total | currency:''}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table text-center">
                        <tbody>
                        <tr>
                            <td>商品金额（元）</td>
                            <td>运费（元）</td>
                            <td>优惠（元）</td>
                            <td>应收（元）</td>
                            <td>商品总数</td>
                        </tr>
                        <tr>
                            <td>{{model.productSubTotal | currency:''}}</td>
                            <td>{{model.shippingCost | currency:''}}</td>
                            <td>{{model.discountAmount | currency:''}}</td>
                            <td>{{model.receivable}}</td>
                            <td>{{model.productCount}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p>亲爱的飞粉，您在飞飞商城购买的商品，在商品完好的情况下，可享受7天无理由退货，请保留此单，以便进行退换货时随包裹回运。
                            <br/>非常感谢您在飞飞商城（www.feifei.com）购物，我们期待您再次光临。
                        </p>
                        <table style="width:100%;">
                            <tr>
                                <td style="width:16%;">
                                    <div>
                                        <strong>晒图评论 飞币翻倍</strong>
                                    </div>
                                </td>
                                <td style="width:16%;">
                                    <div>
                                        <img class="qrCode" src="/img/weixinfuwu.jpg">
                                    </div>
                                </td>
                                <td style="width:18%;">
                                    <div>
                                        <strong>微信在线小飞全新上线</strong>
                                    </div>
                                    <div>
                                        贴心服务，小飞为您私人订制
                                    </div>
                                </td>
                                <td style="width:16%;">
                                    <div>
                                        <img class="qrCode" src="/img/weixindingyue.jpg">
                                    </div>
                                </td>
                                <td>
                                    <div>飞粉热线：4008082002（每天9:00-21:00）</div>
                                    <div>飞粉邮箱：service@feifei.com</div>
                                    <div>飞飞移动端：m.feifei.com</div>
                                    <div>如需退换，请登录www.feifei.com【我的飞飞】提交申请</div>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <div class="pull-left">
                                <p>如果您对飞飞的商品和服务感到满意，请记得给我们5星好评，小飞成长，感谢一路有你！</p>
                            </div>
                            <div class="pull-right text-right" class="banner">
                                <strong>世界标准 全球直销</strong>
                                <img class="bottomLogo" src="/img/GMC-LOGO20101029.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.printDeliverList -->

        <div ng-if="!$last" class="pageBreak"></div>

    </div>

    <div ng-if="!$last" class="pageBreak"></div>
</div>
<!-- 打印按钮 -->
<div class="notPrint">
    <br/>
    <br/>
    <br/>

    <div class="wrap-print">
        <div class="row">
            <div class="col-lg-offset-10 col-lg-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" onclick="window.print(document);">
                    <i class="glyphicon glyphicon-print"></i>&nbsp;打&nbsp;&nbsp;印
                </a>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.wrap-print-->
</div>
<!--/.notPrint-->