<div id="trackingNoLogListPage">
    <div class="row functionBar">
        <ol class="breadcrumb">
            当前位置：
            <li class="active">运单号操作日志列表</li>
        </ol>

        <div class="searchBarControl">
            <a href="" ng-click="showSearchBar()" ng-if="!isSearchBarShow()"><i class="fa fa-caret-down"></i> 显示搜索栏</a>
            <a href="" ng-click="hideSearchBar()" ng-if="isSearchBarShow()"><i class="fa fa-caret-up"></i> 隐藏搜索栏</a>
        </div>
    </div>
    <div class="row" ng-class="{'show':isSearchBarShow(),'hidden':!isSearchBarShow()}">
        <div class="panel panel-default panel-search">
            <div class="panel-body ">
                <div class="row">
                    <div class="col-lg-24">
                        <form class="form-horizontal" role="form" id="trackingNoLogSearchForm"
                              name="trackingNoLogSearchForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="orderNo" class="col-sm-8 control-label">订单编号:</label>

                                        <div class="col-sm-16">
                                            <input id="orderNo" ng-model="query.orderNo" name="orderNo" ng-type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="transpNo" class="col-sm-8 control-label">运单号:</label>

                                        <div class="col-sm-16">
                                            <input id="transpNo" ng-model="query.transpNo" name="transpNo" ng-type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <!-- end of .form-group -->
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">
                                            操作时间:
                                        </label>

                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown1" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="createTimeBegin" type="text" name="createTimeBegin"
                                                               class="form-control"
                                                               data-ng-model="query.createTimeBegin" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.createTimeBegin"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown1',minView:'day'}"/>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-sm-2"  >
                                            <label  class="control-label">至</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="dropdown">
                                                <a class="input-toggle" id="dropdown2" role="button"
                                                   data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input id="createTimeEnd" type="text" name="createTimeEnd"
                                                               class="form-control"
                                                               data-ng-model="query.createTimeEnd" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="query.createTimeEnd"
                                                                    data-datetimepicker-config="{dropdownSelector: '#dropdown2',minView:'day'}"/>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end of .form-group -->
                                </div>


                            </div>
                            <!--end of .row -->
 
                            <!-- end of .row -->
                            <div class="row">
                                <div class="col-sm-18"></div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <button id="searchBtn" name="searchBtn" class="btn btn-primary btn-block" ng-disabled="trackingNoLogSearchForm.$invalid"
                                                ng-click="search()">
                                            <span class="glyphicon glyphicon-search"></span> 搜 &nbsp; &nbsp; &nbsp;索
                                        </button>
                                    </div>
                                </div>
                                <!-- end of .col-sm-5 -->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <button class="btn btn-default" ng-click="reset()">重置</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- end of .col-lg-24 -->
                </div>
                <!-- end of .row (nestest)-->
            </div>
            <!-- end of .panel-body -->
        </div>
        <!-- end of .panel -->
    </div>
    <!-- end of .row (first)-->
    <div class="row">
        <div class="panel panel-default panel-list-page">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12 pagination-box pull-right text-right">
                        <div ng-table-pagination="trackingNoLogTableParams" template-url="$templates.paginationShort"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-include="templates.trackingNoLogTable"></div>
                </div>

                <div class="loading" ng-if="!$loadedTrackingNoLog"></div>
                <!-- /.loading -->
            </div>
            <div class="panel-footer">
                <div ng-table-pagination="trackingNoLogTableParams" template-url="$templates.pagination"></div>
            </div>
        </div>
    </div>
    <!-- end of .row -->

    <!-- end of orderListPage  -->


</div>
<!--订单详情-->
<div id="orderDetailPage">
</div>