<div class="table-responsive">
    <table ng-table="errTrackingNoTableParams" id="errTrackingNoTable"
           class="table-info table-condensed table-hover table-striped table table-custom">
        <thead>
        <tr class="text-center">
            <th>订单编号</th>
            <th>运单号</th>
            <th>物流公司</th>
            <th>问题原因</th>
            <th>下单时间</th>
            <th>发货时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody class="table table-condensed">
        <tr class="text-center" ng-repeat="o in $data" >
            <td style="width:150px">
                <span>
                    <a href="javascript:void(0)" title="点击查看订单详情" ng-click="checkOrderDetail(o.orderNo);">{{o.orderNo}}</a>
                </span>
            </td>
            <td style="width:150px">
                <span>{{o.transportNo}}</span>
            </td>
            <td style="width:150px;">
                <span>{{o.carrierName}}</span>
            </td>
            <td >
                <span>
                    <p>
                    <strong>
                        {{o.errInfo}}
                    </strong>
                    </p>
                </span>
            </td>
            <td style="width:150px">
                <span>{{o.orderTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </td>
            <td style="width:150px">
                <span>{{o.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </td>
            <td style="width:150px">
                <p>
                    <strong>{{o.handlingStatus | transportNoHandlingStatus}}</strong>
                </p>
            </td>
            <td style="width:120px;">
                <div class="btn-group-vertical">
                    <button type="button" ng-if="o.handlingStatus == 1"
                            class="btn btn-default"
                            data-toggle="modal" data-target="#myModal"
                            ng-click="openTrackingNoUpdateModal(o.orderNo, o.transportNo, o.carrierCode, o.tmsAbnormalOrderReportId);">
                        &nbsp;&nbsp;修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改&nbsp;&nbsp;
                    </button>
                    <button type="button"
                            class="btn btn-default" ng-if="o.handlingStatus == 2"
                            data-toggle="modal" data-target="#myModal"
                            ng-click="checkTrackingNoDetail(o.orderNo);">
                        &nbsp;&nbsp;查看详情&nbsp;&nbsp;
                    </button>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>

