<div class="panel panel-default">
  <div class="panel-heading">
    <strong>订单编号：{{orderDetail.number}}&nbsp;&nbsp;&nbsp;&nbsp;</strong>
    <span>当前状态：
        <span ng-if="orderDetail.status == 10">已提交</span>
        <span ng-if="orderDetail.status >= 20 && orderDetail.status<60">待发货</span>
        <span ng-if="orderDetail.status == 60">配送中</span>
        <span ng-if="orderDetail.status >= 70">交易完成</span>
        <span style="color:red" ng-if="orderDetail.flagGather == true && orderDetail.status >= 20 && orderDetail.status<60">(买家已申请退款，请及时去售后退款模块处理退款申请)</span>
    </span>
  </div>
  <div class="panel-body center" style="padding-top:50px;!important">
    <div id="progressBar progress-bar-success progress-bar-striped" class="col-lg-24" ng-if="orderDetail">
      <progressBar config="orderProgress" ng-init="loadProgressBar();"></progressBar>
      </div>
    </div>
  </div>
</div>