<div class="table-responsive">
    <table ng-table="trackingNoLogTableParams" id="trackingNoLogTable"
           class="table-info table-condensed table-hover table-striped table table-custom">
        <thead>
        <tr class="text-center">
            <th>订单编号</th>
            <th>运单号</th>
            <th>修改后运单号</th>
            <th>物流公司</th>
            <th>修改后物流公司</th>
            <th>下单时间</th>
            <th>发货时间</th>
            <th>操作者账号</th>
            <th>操作时间</th>
        </tr>
        </thead>

        <tbody class="table table-condensed">
        <tr class="text-center" ng-repeat="o in $data" >
            <td>
                <span>
                    <a href="javascript:void(0)" title="点击查看订单详情" ng-click="checkOrderDetail(o.orderNo);">{{o.orderNo}}</a>
                </span>
            </td>
            <td style="width:150px;">
                <span>{{o.oldTranspNo}}</span>
            </td>
            <td style="width:150px;color:red;">
                <span>{{o.newTranspNo}}</span>
            </td>
            <td style="width:150px;">
                <span>{{o.oldTranspCarrierName}}</span>
            </td>
            <td style="width:150px;color:red;">
                <span>{{o.newTranspCarrierName}}</span>
            </td>
            <td style="width:150px">
                <span>{{o.orderTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </td>
            <td style="width:150px">
                <span>{{o.deliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </td>
            <td style="width:150px">
                <span>{{o.createBy }}</span>
            </td>
            <td style="width:150px;">
                <span>{{o.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

