<div class="text-center">
    <h4>消费者已经付款，等待制造商发货</h4>
</div>

<form class="form-horizontal" role="form" id="deliverForm" name="deliverForm">
    <div class="form-group">
        <label for="orderExpress" class="col-sm-offset-6 col-sm-4 control-label">&lowast; 物流/快递公司</label>

        <div class="col-sm-6">
            <select id="orderExpress" class="form-control" required ng-model="deliverInfo.logisticsCompany"
                    ng-options="item.name for item in $logisticsCompanies">
                <option value="">------请选择--------</option>
            </select>
        </div>
    </div>
    <!-- 如果是客户自提就不需要运单号了 -->
    <div class="form-group"
         ng-class="{ 'has-error': deliverForm.trackingNo.$dirty && deliverForm.trackingNo.$invalid }">
        <label for="trackingNo" class="col-sm-offset-6 col-sm-4 control-label">&lowast;  运单号</label>

        <div class="col-sm-6">
            <div style="position:relative">
                <div class="largerView">{{formattedOutputNumber(deliverInfo.trackingNo)}}</div>
                <input id="trackingNo" name="trackingNo" ng-pattern="/^[A-Za-z0-9]+$/" class="form-control" required
                       ng-model="deliverInfo.trackingNo" ng-focus="trackingNoOnFocus($event)" ng-blur="trackingNoOnBlur($event)">
            </div>

            <div class="help-block" ng-show="(deliverForm.trackingNo.$dirty ) && deliverForm.trackingNo.$invalid">
                <span ng-show="deliverForm.trackingNo.$error.required">
                运单号不可为空
                </span>
                <span ng-show="deliverForm.trackingNo.$invalid &&!deliverForm.trackingNo.$error.required">
                只允许输入字母和数字
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-10 col-sm-4">
        <button class="btn btn-primary form-control" type="submit" ng-disabled="deliverForm.$invalid"
                ng-click="deliver(deliverInfo)">发货
        </button>
    </div>
</form>
 

