<div class="well deliver-list-well">
  <div class="row">

    <div class="col-lg-24">
      <div>
        <div class="col-sm-3 text-right deliver-list-style">物流公司：</div>
        <strong>
          <a ng-href="{{orderDetail.trackingInfo.carrierHomePage}}" target="_blank">
            {{orderDetail.trackingInfo.carrier}}
          </a>
          <span ng-if="!orderDetail.trackingInfo">{{trackingInfoCarrier}}</span>
        </strong>
      </div>
    </div>

    <div class="col-lg-24">
      <div>
        <div class="col-sm-3 text-right deliver-list-style">货运单号：</div>
        <strong>{{orderDetail.trackingInfo.trackingNo}}</strong>
        <strong><span  ng-if="!orderDetail.trackingInfo">{{trackingInfoTrackingNo}}</span></strong>
      </div>
    </div>

    <div class="col-lg-24">
      <div>
        <div class="col-sm-3 text-right deliver-list-style">物流动态：</div>
      </div>

      <div>
        <table class="col-sm-18">
          <tbody>
            <tr ng-repeat="item in orderDetail.trackingInfo.deliverInfos" class="text-muted">
              <td ng-class="{'text-primary':$last}" style="width:20%">{{item.statusTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
              <td ng-class="{'text-primary':$last}">{{item.statusAddress}}</td>
             <!--  <td>{{item.remark}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>