
<div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">修改运单号</h4>
    </div>
    <div class="modal-body" >
    <form class="form-horizontal" novalidate style="width:100%;" role="form" name="updateTrackingNoModalForm" id="updateTrackingNoModalForm">
        <div class="form-group">
            <label class="col-sm-8 control-label">订单编号:</label>
            <div class="col-sm-16 form-control-static">
                {{trackingNoInfo.orderNo}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-8 control-label">&lowast; 物流/快递公司:</label>
            <div class="col-sm-10">
                <select id="orderExpress" class="form-control" required ng-model="trackingNoInfo.carrier"  ng-options="item.name for item in $logisticsCompanies track by item.code">
                    <option value="">------请选择--------</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': updateTrackingNoModalForm.trackingNo.$dirty && updateTrackingNoModalForm.trackingNo.$invalid }">
            <label class="col-sm-8 control-label">&lowast; 运单号:</label>

            <div class="col-sm-10">
                <div style="position:relative">
                    <div class="largerView">{{formattedOutputNumber(trackingNoInfo.trackingNo)}}</div>
                    <input type="text" class="form-control" name="trackingNo" ng-pattern="/^[A-Za-z0-9]+$/" required ng-model="trackingNoInfo.trackingNo"
                           ng-focus="trackingNoOnFocus4List($event)"   ng-blur="trackingNoOnBlur4List($event)"/>
                    <div class="help-block" ng-show="(updateTrackingNoModalForm.trackingNo.$dirty ) && updateTrackingNoModalForm.trackingNo.$invalid">
                    <span ng-show="updateTrackingNoModalForm.trackingNo.$error.required">
                    运单号不可为空
                    </span>
                    <span ng-show="updateTrackingNoModalForm.trackingNo.$invalid &&!updateTrackingNoModalForm.trackingNo.$error.required">
                    只允许输入字母和数字
                    </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <button type="submit" class="form-control btn btn-primary"
                        ng-disabled="updateTrackingNoModalForm.$invalid" ng-click="updateTrackingNo(trackingNoInfo)">确&nbsp;&nbsp;&nbsp;&nbsp;定
                </button>
            </div>
            <div class="col-sm-7">
                <button type="submit" class="form-control btn btn-default"
                         ng-click="closeTrackingNoUpdateModal();">取&nbsp;&nbsp;消
                </button>
            </div>
        </div>
    </form>
    </div>

</div>
