<div class="modal fade" id="chooseSpecsModal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">选择规格</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal specsOptionList">
                    <!-- 暂时屏蔽
                        <div class="alert alert-info">
                            <p>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Tip: 亲，建议您先在普通商品“选项卡中填写以下属性（包括市场价、飞飞价、库存、长宽高、重量、条形码、商品型号），
                                并上传多个商品图片。 这样多规格商品中的每个货品将会复制这些属性值和图片值，这样省时又方便哦。
                                <a class="btn btn-success" data-dismiss="modal">明白了，那我先填写，后生成多规格。</a>
                            </p>
                        </div>
                    -->
                    <div class="row">
                        <div class="col-lg-24">
                            <div class="form-group" ng-repeat="spec in specsToGen">
                                <label for="spec-{{spec.id}}" class="col-sm-4 control-label">{{spec.name}}:</label>
                                <div class="col-sm-20">
                                    <div class="pull-left"  style="margin-right: 10px;" ng-repeat="option in spec.options">
                                        <div class="pull-left">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="spec-{{spec.id}}[]" value="{{option.optionId}}"
                                                       ng-checked="option.checked"
                                                       ng-click="chooseSpecInDialog(spec.id, option.optionId)">

                                                <span ng-show="!option.checked">{{option.optionName}}</span>
                                                <span ng-show="option.checked">&nbsp;</span>
                                            </label>
                                        </div>
                                        <div  class="pull-left editable-div">
                                            <label class="checkbox-inline">
                                                <a href="" ng-show="option.checked" editable-text="option.optionNameAlias"  onbeforesave="renameOptionName(spec.id, option, $data)">
                                                    {{getOptionRealName(option)}}
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col-lg-24 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-horizontal -->

            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="generateSkus()">生成多规格商品</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->