<div class="panel panel-default">
    <div class="panel-heading">
        销售规格
    </div>
    <div class="panel-body">
        <div class="form-group"  ng-show="specs.length > 0">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-20">
                <label class="radio-inline">
                    <input type="radio"  name="skuType" ng-click="toggleToSingleSku($event)" ng-checked="product.skuType == 0"> <span class="glyphicon glyphicon-tree-deciduous"></span>  &nbsp;普通商品
                </label>
                <label class="radio-inline">
                    <input  type="radio"  name="skuType"  ng-click="toggleToMultiSku($event)" ng-checked="product.skuType == 1"> <span class="glyphicon glyphicon-th-large"></span> &nbsp;多规格商品
                    <span ng-show="product.skuType == 1">&nbsp;目前有<b>{{product.skus.length}}</b>个货品。</span>
                </label>
            </div>
        </div>
        <!-- /.form-group -->

        <!--普通商品-->
        <div ng-include="templates.specSection4SingleSku"/>
        <!--多规格商品-->
        <div ng-include="templates.specSection4MultiSku"/>


    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->