<div class="panel panel-default" ng-repeat="sku in product.skus">
    <div class="panel-heading">
        商品图片
        <span ng-repeat="spec in specs | filter:isSpecChecked">
            &nbsp;{{spec.name}} : {{getOptionRealName(sku.specs[spec.id+''])}}
        </span>

        <div class="pull-right">
            <span class="glyphicon glyphicon-info-sign"></span>至少上传1张，最多{{MAX_UPLOAD_SKU_IMAGE_LIMIT}}张，支持 jpg、jpeg、png 格式，单张容量最大1024KB，尺寸为800*800像素以上，且长宽相等。
        </div>
    </div>
    <div class="panel-body">
        <div class="row" ng-show="sku.images.length == 0">
            <div class="col-sm-24">
                <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span>
                    请上传此规格的商品图片。至少上传1张，最多上传{{MAX_UPLOAD_SKU_IMAGE_LIMIT}}张，支持 jpg、jpeg、png 格式，单张容量最大1024KB，尺寸为800*800像素以上，且长宽相等。
                    <br/>请不要在商品图片上添加除商品外的其他信息，诸如水印、商标等，一经发现将严加处理。
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="btn btn-primary btn-file" ng-show="!sku.uploading">
                            <span class="glyphicon glyphicon-picture" tabindex="200{{$index}}"  id="uploadFirstSkuImageBtn-{{$index}}"></span>&nbsp; 上传此规格的第一个图
                            <input type="file" multiple ng-file-select="uploadSkuImage($files, $index)"
                                   accept="image/*" onclick="this.value=null">
                        </div>
                        <div class="progress" ng-show="sku.uploading">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{sku.uploadPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{sku.uploadPercent}}%;">
                                {{sku.uploadPercent}}%
                            </div>
                        </div>
                    </div>
                    <!-- /.col-sm-6  -->
                </div>
                <!-- /.row  -->
            </div>
            <!-- /.col-sm-24  -->
        </div>
        <!-- /.row  -->

        <div  class="row" ng-show="sku.images.length != 0">
            <div class="col-sm-4" ng-repeat="image in sku.images">
                <div class="panel panel-default panel-custom">
                    <div class="panel-body text-center">
                        <img width="150" height="150" border="0" ng-src="{{image.url}}">
                    </div>
                    <!-- /.panel-heading  -->
                    <div class="panel-footer">
                        <div class="btn-group pull-right">
                            <a title="左移" class="btn btn-default" ng-show="!$first" ng-click="moveSkuImage($parent.$index, $index,$index-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
                            <a title="右移" class="btn btn-default" ng-show="!$last" ng-click="moveSkuImage($parent.$index, $index,$index+1)"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            <a title="删除" class="btn btn-danger" ng-click="deleteSkuImage($parent.$index, $index)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel-footer  -->
                </div>
                <!-- /.panel  -->
            </div>
            <!-- /.col-sm-4  -->

            <div class="col-sm-6" ng-show="(sku.images.length < MAX_UPLOAD_SKU_IMAGE_LIMIT)" >
                <div class="alert alert-info">
                    <p>
                        <span class="glyphicon glyphicon glyphicon-paperclip"></span>还可以上传{{MAX_UPLOAD_SKU_IMAGE_LIMIT - sku.images.length}}张描述图。
                    </p>
                    <p>
                        <div class="btn btn-primary btn-file" ng-show="!sku.uploading">
                            <span class="glyphicon glyphicon-picture"></span>&nbsp; 上传新的描述图
                            <input type="file" multiple ng-file-select="uploadSkuImage($files, $index)" id="uploadSkuImageBtn-{{$index}}"
                                   accept="image/*" onclick="this.value=null">
                        </div>
                        <div class="progress" ng-show="sku.uploading">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{sku.uploadPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{sku.uploadPercent}}%;">
                                {{sku.uploadPercent}}%
                            </div>
                        </div>
                    </p>

                </div>

            </div>
            <!-- /.col-sm-4  -->

        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->