<form class="form-horizontal" role="form" id="packAfterSaleForm" name="packAfterSaleForm">
    <div class="panel panel-default panel-undertab">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-24">
                    <!-- 包装信息 -->
                    <div ng-include="templates.packSection4EditMode"/>
                    <!-- 售后属性 -->
                    <div ng-include="templates.afterSaleSection4EditMode"/>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-16">
                </div>
                <div class="col-lg-3 text-right">
                    <a ng-click="viewPackAfterSale()" class="btn btn-block btn-lg btn-default" >取   消 </a>
                </div>
                <div class="col-lg-4">
                    <a ng-click="savePackAfterSale()" id="savePackAfterSaleBtn" class="btn btn-block btn-lg btn-primary" ><span class="glyphicon glyphicon-save"></span>&nbsp; 保   存 </a>
                </div>
            </div>
        </div>
    </div>
</form>


