<form editable-form class="form-horizontal" role="form" id="specsForm" name="specsForm">
    <div class="panel panel-default panel-undertab">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-24">
                    <!-- 规格信息 -->
                    <div ng-include="templates.specSection4EditMode"/>
                    <!-- 商品图片信息 -->
                    <div ng-include="templates.imageSection4EditMode"/>
                    <!-- 物流配送信息 -->
                    <div ng-include="templates.logisticsSection4EditMode"/>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-16">
                </div>
                <div class="col-lg-3 text-right">
                    <a ng-click="viewSpecs()" class="btn btn-block btn-lg btn-default" >取   消 </a>
                </div>
                <div class="col-lg-4">
                    <a ng-click="saveSpecs()" id="saveSpecsBtn" class="btn btn-block btn-lg btn-primary" ><span class="glyphicon glyphicon-save"></span>&nbsp; 保   存 </a>
                </div>
            </div>


        </div>
    </div>
</form>

<!-- 添加运费modal-->
<div class="modal fade" id="addLogisticsTemplateModal" role="dialog" >
    <div class="modal-dialog modal-lg">
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
