
<div  ng-repeat="attr in catAttrs" >
    <ng-form name="attrForm">
        <div class="form-group" ng-class="{ 'has-error': (attrForm.attr.$dirty || hasCommit) && attrForm.attr.$invalid }" id="attr-{{attr.id}}">
            <label  class="col-sm-4 control-label"><span ng-show="attr.required == 1 && attr.inputType == 3">&lowast;</span>
                {{attr.name}}<span ng-if="attr.name == '风格'">（最多勾选两个）
            </label>
            <div class="col-sm-20" ng-switch on="attr.inputType">
                <div>
                    <span ng-init="attrName = 'attr-'+attr.id "/>
                    <!--单选框-->
                    <span ng-switch-when="1" >
                        <label class="radio-inline" ng-repeat="option in attr.options">
                            <input type="radio"  name="{{attrName}}" value="{{option.optionId}}"  ng-model="product.attrs[''+attr.id]"
                                    > {{option.optionName}}
                        </label>
                        <label class="radio-inline" ng-if="attr.options && attr.options.length > 0">
                            <a href="" ng-show="product.attrs[''+attr.id] != null" ng-click="cancelAttrSingleSelect(attr.id)">取消选择</a>
                        </label>
                    </span>

                    <!--多选框-->
                    <span ng-switch-when="2" >
                        <span ng-init="initAttr4MultiSelect(attr.id)"/>
                        <label class="checkbox-inline" ng-repeat="option in attr.options">
                            <input type="checkbox" name="{{attrName}}" value="{{option.optionId}}"
                                   ng-checked="product.attrs[''+attr.id].indexOf(option.optionId) > -1"
                                   ng-click="toggleSelection(product.attrs[''+attr.id], option.optionId)"
                                   tab-index="50"/> {{option.optionName}}
                        </label>
                    </span>

                    <!--输入框-->
                    <span ng-switch-when="3" >
                        <input class="form-control" name="attr" ng-model="product.attrs[''+attr.id]" placeholder=""
                               ng-maxlength="250" ng-required="attr.required == 1"/>
                    </span>

                </div>
                <!--暂时只针对input-->
                <div class="help-block"
                     ng-show="(attrForm.attr.$dirty || hasCommit) && attrForm.attr.$invalid">
                    <span ng-show="attrForm.attr.$error.required">
                        必填
                    </span>
                    <span ng-show="attrForm.attr.$error.maxlength">
                        不能超过250个字符
                    </span>
                </div>
                <!-- /.help-block-->

            </div>
            <!--/.col-sm-20-->
        </div>
        <!-- /.form-group -->

    </ng-form>
</div>
