<div class="form-group">
    <label class="col-sm-4 control-label">发票:</label>

    <div class="col-sm-8">
        <p class="form-control-static">有</p>
    </div>
</div>
<!-- /.form-group -->

<!--暂时屏蔽  <div class="form-group">
    <label class="col-sm-4 control-label">保修:</label>

    <div class="col-sm-20">
        <p class="form-control-static" ng-if="roPro.hasWarranty == 0">无</p>
        <p class="form-control-static" ng-if="roPro.hasWarranty == 1">有</p>
    </div>
</div>
&lt;!&ndash; /.form-group &ndash;&gt;

<div class="form-group" ng-if="roPro.hasWarranty == 1">
    <label class="col-sm-4 control-label">保修期:</label>

    <div class="col-sm-20">
        <p class="form-control-static">{{roPro.warrantyPeriod}}</p>
    </div>
</div>
&lt;!&ndash; /.form-group &ndash;&gt;-->

<div class="form-group">
    <label class="col-sm-4 control-label">退换货承诺:</label>

    <div class="col-sm-20">
        <p ng-repeat="promise in afterSaleEnumList" ng-if="(roPro.promiseIds.indexOf(promise.id) > -1) || (promise.value == 2)">
            {{promise.name}}
        </p>
    </div>
</div>
<!-- /.form-group -->

<div class="form-group">
    <label class="col-sm-4 control-label">售后说明:</label>

    <div class="col-sm-20">
        <p class="form-control-static">{{roPro.afterSaleDesc}}</p>
    </div>
</div>
<!-- /.form-group -->

