<div class="row row-custom" ng-show="roPro.skuType == 1">

    <div class="">
        <table style="width:100%;" class="table table-bordered table-custom">
            <thead>
            <tr>
                <th width="5%">默认</th>
                <th width="80px">序号</th>
                <th width="" ng-repeat="spec in specs | filter:isSpecChecked">
                    {{spec.name}}
                </th>
                <th width="8%">市场价(元)</th>
                <th width="8%">飞飞价(元)</th>
                <th width="8%">库存(件)</th>
                <th width="15%">长宽高(cm*3)</th>
                <th width="8%">重量(kg)</th>
                <th width="8%">条形码</th>
                <th width="8%">商品型号</th>
                <th width="8%">商家编码</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="sku in roPro.skus">
                <td>
                    <label ng-show="$first">
                        是
                    </label>
                </td>

                <td>{{$index+1}}</td>
                <!-- ===规格值=== -->
                <td ng-repeat="spec in specs | filter:isSpecChecked">
                    {{getOptionRealName(sku.specs[spec.id+''])}}
                </td>


                <!-- ===市场价=== -->
                <td>
                    {{sku.marketPrice}}
                </td>

                <!-- ===飞飞价=== -->
                <td>
                    {{sku.price}}
                </td>

                <!-- ===库存=== -->
                <td>
                    {{sku.quantityOnHand}}
                </td>

                <!-- ===长宽高=== -->
                <td>
                    {{sku.length}} * {{sku.width}} * {{sku.height}}
                </td>

                <!-- ===重量=== -->
                <td>
                    {{sku.weight}}
                </td>


                <!-- ===条形码=== -->
                <td>
                    {{sku.barCode}}
                </td>

                <!-- ===型号=== -->
                <td>
                    {{sku.model}}
                </td>

                <!-- ===商家编码=== -->
                <td>
                    {{sku.mftProductCode}}
                </td>

            </tr>
            </tbody>
        </table>

        <br/>
        <br/>
        <br/>
    </div>

</div>