
<div style="width: 600px;height: 340px">
  <form role="form">
    <div class="container-fluid">
      <div class="row">
        <div style="margin-top: -5px;" ng-repeat="state in provinces" class="checkbox col-sm-8">
          <label>
            <input type="checkbox" ng-checked="selectedArr.indexOf(state.regionId)&gt;=0 || disabledArr.indexOf(state.regionId)&gt;=0" ng-disabled="disabledArr.indexOf(state.regionId)&gt;=0" ng-click="checkToggle(state.regionId)">{{state.regionName}}
          </label>
        </div>
      </div>
      <div class="alert alert-info row">
        <button ng-click="submitProvince()" class="btn btn-primary col-sm-offset-13 col-sm-5">确定</button>
        <button ng-click="popoverClose()" class="btn btn-default col-sm-offset-1 col-sm-5">取消</button>
      </div>
    </div>
  </form>
</div>