<div class="row">
    <ol class="breadcrumb">
        当前位置：
        <li><a ui-sref="main.promoPrices">商品促销价列表</a></li>
        <li>添加促销价</li>
    </ol>
</div>
<div class="row">
    <form class="form-horizontal" role="form" id="createForm" name="createForm">
        <div class="row">
            <div class="col-lg-24">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        录入信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error': (createForm.startTimeDate.$dirty || hasCommit) && createForm.startTimeDate.$invalid }">
                            <label class="col-sm-4 control-label">
                                &lowast; 生效时间:
                            </label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <a class="input-toggle" id="dropdown1" role="button"
                                       data-toggle="dropdown" data-target="#" href="">
                                        <div class="input-group">
                                            <input id="startTimeDate" type="text" name="startTimeDate"
                                                   class="form-control"
                                                   data-ng-model="model.startTimeDate" readonly="true" required>
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="model.startTimeDate"
                                                        data-datetimepicker-config="{dropdownSelector: '#dropdown1',minView:'day'}"/>
                                    </ul>
                                </div>
                                <div class="help-block"
                                     ng-show="(createForm.startTimeDate.$dirty || hasCommit) && createForm.startTimeDate.$invalid">
                                    <span ng-show="createForm.startTimeDate.$error.required">
                                        生效时间必填
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-sm-24">
                                        <select class="form-control" ng-model="model.startTimeHour" name="startTimeHour" ng-options="hourOption as hourOption for hourOption in _hourOptions">
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-class="{ 'has-error': (createForm.endTimeDate.$dirty || hasCommit) && createForm.endTimeDate.$invalid }">
                            <label class="col-sm-4 control-label">
                                &lowast; 失效时间:
                            </label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <a class="input-toggle" id="dropdown2" role="button"
                                       data-toggle="dropdown" data-target="#" href="">
                                        <div class="input-group">
                                            <input id="endTimeDate" type="text" name="endTimeDate"
                                                   class="form-control"
                                                   data-ng-model="model.endTimeDate" readonly="true" required>
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="model.endTimeDate"
                                                        data-datetimepicker-config="{dropdownSelector: '#dropdown2',minView:'day'}"/>
                                    </ul>
                                </div>
                                <div class="help-block"
                                     ng-show="(createForm.endTimeDate.$dirty || hasCommit) && createForm.endTimeDate.$invalid">
                                    <span ng-show="createForm.endTimeDate.$error.required">
                                        失效时间必填
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-sm-24">
                                        <select class="form-control" ng-model="model.endTimeHour" name="endTimeHour" ng-options="hourOption as hourOption for hourOption in _hourOptions">
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                &lowast; 调价商品:
                            </label>
                            <div class="col-sm-20">
                                <div class="alert alert-info">
                                    <p>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Tip: 亲，一次最多支持调价50个商品，不支持修改，只能进行失效操作，请谨慎设置!
                                    </p>
                                </div>
                                <a class="btn btn-primary" ng-click="openSkuSelector()" id="selectSkusBtn" tabindex="11">选择调价商品
                                </a>&nbsp; 已选择{{model.skuList.length}}个商品
                                <br/>
                                <br/>
                                <div>
                                    <table class="table table-condensed table-custom">
                                        <thead>
                                        <tr>
                                            <th style="width:10px; text-align:center;">#</th>
                                            <th>商品</th>
                                            <th style="width:100px; text-align:center;">飞飞价</th>
                                            <th style="width:300px; text-align:center;">促销价</th>
                                            <th style="width:200px; text-align:center;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr ng-repeat="sku in model.skuList" ng-form="skuForm">
                                            <td>{{$index+1}}.</td>
                                            <td>
                                                <div class="pull-left">
                                                    <img ng-src="{{getProdImageUrl(sku.image)}}"/>
                                                </div>
                                                <div class="pull-left" style="margin-left:10px;">
                                                    <b>{{sku.productName}}</b>
                                                    <ul class="list-unstyled">
                                                        <li>SKU:  {{sku.skuCode}}</li>
                                                        <li>型号: {{sku.model}}</li>
                                                    </ul>
                                                </div>

                                            </td>
                                            <td style="text-align:center;">
                                                {{sku.price | currency:' &yen;' }}
                                            </td>
                                            <td style="text-align:center;">
                                                <div class="form-inline">
                                                    <div class="form-group"  ng-class="{ 'has-error': (skuForm.promotionalPrice.$dirty || hasCommit) && skuForm.promotionalPrice.$invalid }">
                                                        <div>
                                                            &yen;&nbsp;<input style="width:150px;"  type="text" ng-model="sku.promotionalPrice" name="promotionalPrice"  class="form-control" placeholder="请填写促销价"
                                                                              required validate-positive-float />
                                                        </div>
                                                        <div class="help-block"
                                                             ng-show="(skuForm.promotionalPrice.$dirty || hasCommit) && skuForm.promotionalPrice.$invalid">
                                                            <span ng-show="skuForm.promotionalPrice.$error.required">
                                                                必填
                                                            </span>
                                                            <span ng-show="skuForm.promotionalPrice.$error.float">
                                                                请输入大于0的有效的正浮点数(最多两位小数)
                                                            </span>
                                                        </div>
                                                        <!-- /.help-block-->
                                                    </div>
                                                    <!-- /.form-group-->
                                                </div>
                                                <!-- /.form-inline -->
                                            </td>
                                            <td style="text-align:center;">
                                                <div class="form-inline">
                                                    <div class="form-group" >
                                                        <a tabindex="10" class="btn btn-danger" ng-click="deleteSku($index)">
                                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; 删除
                                                        </a>
                                                        <p class="text-danger text-left" ng-if="needDetele($index)">此商品已存在有效的促销价，请删除</p>
                                                    </div>
                                                    <!-- /.form-group-->
                                                </div>
                                                <!-- /.form-inline -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row (nested) -->
        <div class="row">
            <div class="col-lg-19">
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <a ng-click="create()" tabindex="12" id="submitBtn" class="btn btn-primary  btn-lg btn-block"
                       data-loading-text="提交中，请稍候"><span class="glyphicon glyphicon-save"></span>&nbsp; 保   存
                    </a>
                </div>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>



