<div class="row">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回店铺优惠列表</a></li>
        <li class="active">
            <span>查看店铺优惠</span>
        </li>
    </ol>
</div>

<div class="row">
    <form class="form-horizontal" role="form" id="salesRuleForm" name="salesRuleForm">
        <div class="row">
            <div class="col-lg-24">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        查看信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">活动名称:</label>

                            <div class="col-sm-20">
                                <p class="form-control-static">{{model.title}}</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">活动描述:</label>
                            <div class="col-sm-20">
                                <p class="form-control-static">{{model.description}}</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                生效时间:
                            </label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{model.startTime}}</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                失效时间:
                            </label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{model.endTime}}</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" >
                            <label  class="col-sm-4 control-label">优惠范围:</label>
                            <div class="col-sm-15">
                                <p class="form-control-static" ng-if="model.rangeType == 1">全店参加</p>
                                <p class="form-control-static" ng-if="model.rangeType == 2">特定商品,共{{model.skuList.length}}个</p>

                                <div  ng-if="model.rangeType == 2">

                                    <div class="panel panel-default panel-list-page panel-consultList">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                </div>
                                                <div class="col-sm-12 pull-right text-right">
                                                    <div ng-table-pagination="tableParams" template-url="$templates.paginationShort"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <!-- data table -->
                                            <div class="row">
                                                <table ng-table="tableParams" class="table-info table-condensed table-hover table-striped table table-custom">
                                                    <tbody>
                                                    <tr ng-repeat="sku in $data">
                                                        <td  data-title="''" style="width:110px;">
                                                            <img ng-src="{{getProdImageUrl(sku.image)}}"/>
                                                        </td>
                                                        <td  data-title="'参与的商品'" style="text-align: left;">
                                                            <b>{{sku.productName}}</b>
                                                            <ul class="list-unstyled">
                                                                <li>SKU:  {{sku.skuCode}}</li>
                                                                <li>型号: {{sku.model}}</li>
                                                            </ul>
                                                        </td>
                                                        <td width="10%"  data-title="'飞飞价'" style="text-align: center;">
                                                            {{sku.price | currency:' &yen;'}}
                                                        </td>
                                                        <td width="10%"  data-title="'库存'" style="text-align: center;">
                                                            {{sku.quantityOnHand }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <!-- pagination -->
                                            <div ng-table-pagination="tableParams" template-url="$templates.paginationShort"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->


                        <div class="form-group">
                            <label class="col-sm-4 control-label">优惠类型:</label>
                            <div class="col-sm-20">
                                <p class="form-control-static" ng-if="isKindOfGift()"> 满赠</p>
                                <p class="form-control-static" ng-if="isKindOfNoCapMinus()"> 上不封顶满减</p>
                                <p class="form-control-static" ng-if="isKindOfStepMinus()"> 阶梯满减（最多支持三级）</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-if="isKindOfGift() || isKindOfNoCapMinus()" >
                            <label class="col-sm-4 control-label">优惠条件:</label>

                            <div class="col-sm-12">
                                <p class="form-control-static">
                                    <span ng-if="isKindOfGift()">买满&nbsp;</span>
                                    <span ng-if="isKindOfNoCapMinus()">每买满&nbsp;</span>
                                    <span>{{model.minPrice | currency:' &yen;'}}</span>
                                </p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-if="isKindOfGift()">
                            <label class="col-sm-4 control-label">送赠品:</label>
                            <div class="col-sm-15">
                                <table class="table table-condensed table-custom">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>赠品</th>
                                        <th style="width:100px; text-align:center;">飞飞价</th>
                                        <th style="width:300px; text-align:center;">促销价</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="gift in model.gifts">
                                        <td width="110px" >
                                            <img ng-src="{{getProdImageUrl(gift.image)}}"/>
                                        </td>
                                        <td>
                                            <b>{{gift.productName}}</b>
                                            <ul class="list-unstyled">
                                                <li>SKU:  {{gift.skuCode}}</li>
                                                <li>型号: {{gift.model}}</li>
                                            </ul>
                                        </td>
                                        <td width="10%" style="text-align:center;">
                                            {{gift.price | currency:' &yen;' }}
                                        </td>
                                        <td width="10%" style="text-align:center;">
                                            {{gift.quantityOnHand}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.form-group -->


                        <div class="form-group" ng-if="isKindOfNoCapMinus()">
                            <label class="col-sm-4 control-label">减现金:</label>
                            <div class="col-sm-20">
                                <p class="form-control-static">{{model.discountAmount | currency:' &yen;' }}</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="row" ng-if="isKindOfStepMinus()">
                            <label class="col-sm-4 control-label">优惠规则:</label>
                            <div class="col-sm-8">
                                <table class="table table-condensed table-custom">
                                    <tr ng-repeat="step in model.minusSteps" ng-form="stepForm">
                                        <td>
                                            <span>买满 {{step.minPrice | currency:' &yen;'}}  减 {{step.discountAmount | currency:' &yen;'}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row (nested) -->

    </form>
    <!-- /form -->
</div>



