<!-- 店铺优惠列表页面-->
<div id="listPage">
    <div class="row functionBar">
        <ol class="breadcrumb">当前位置：
            <li class="active">店铺优惠列表</li>
        </ol>

        <div class="searchBarControl">
            <a href="" ng-click="showSearchBar()" ng-if="!isSearchBarShow()"><i class="fa fa-caret-down"></i> 显示搜索栏</a>
            <a href="" ng-click="hideSearchBar()" ng-if="isSearchBarShow()"><i class="fa fa-caret-up"></i> 隐藏搜索栏</a>
        </div>
    </div>
    <div class="row"  ng-class="{'show':isSearchBarShow(),'hidden':!isSearchBarShow()}">
        <div class="panel panel-default panel-search">
            <div class="panel-body">
                <form class="form-horizontal" role="form" id="searchForm" name="searchForm">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">活动名称:</label>
                                <div class="col-sm-16">
                                    <input class="form-control" name="title" ng-model="query.title" placeholder="">
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">状态:</label>
                                <div class="col-sm-16">
                                    <select class="form-control" ng-model="query.status" name="status" ng-options="status.value as status.label for status in _statuses">
                                        <option value="">--- 请选择 ---</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    活动时间:
                                </label>

                                <div class="col-sm-8">
                                    <div class="dropdown">
                                        <a class="input-toggle" id="dropdown1" role="button"
                                           data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                                <input id="startTime" type="text" name="startTime"
                                                       class="form-control"
                                                       data-ng-model="query.startTime" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="query.startTime"
                                                            data-datetimepicker-config="{dropdownSelector: '#dropdown1',minView:'day'}"/>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-24 control-label">至</label>
                                    </div>
                                    <!-- /.form-group -->
                                </div>

                                <div class="col-sm-8">
                                    <div class="dropdown">
                                        <a class="input-toggle" id="dropdown2" role="button"
                                           data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                                <input id="endTime" type="text" name="endTime"
                                                       class="form-control"
                                                       data-ng-model="query.endTime" readonly="true">
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="query.endTime"
                                                            data-datetimepicker-config="{dropdownSelector: '#dropdown2',minView:'day'}"/>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- end of .form-group -->
                        </div>

                    </div>
                    <!-- /.row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">优惠范围:</label>
                                <div class="col-sm-16">
                                    <select class="form-control" ng-model="query.rangeType" name="rangeType" ng-options="rangeType.value as rangeType.label for rangeType in _salesRuleRangeTypes">
                                        <option value="">--- 请选择 ---</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-14"></div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" ng-click="search()" id="searchBtn"
                                        ng-disabled="!searchForm.$valid"><span class="glyphicon glyphicon-search"></span> 查  询</button>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-1"></div>

                        <div class="col-sm-1">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="resetSearch()">重置</button>
                            </div>
                            <!-- /.form-group -->
                        </div>

                    </div>
                    <!-- /.row -->
                </form>


            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="panel panel-default panel-list-page panel-consultList">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- button bar -->
                        <div class="form-group" style="margin-bottom: 0px;">
                            <a ui-sref="main.createSalesRule({rangeType:1})" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-plus"></span> 创建全店活动</a>
                            <a ui-sref="main.createSalesRule({rangeType:2})" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-plus"></span> 创建商品活动</a>
                        </div>
                    </div>
                    <div class="col-sm-12 pull-right text-right">
                        <div ng-table-pagination="tableParams" template-url="$templates.paginationShort"></div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <!-- data table -->
                <div class="row">
                    <div class="">
                        <table ng-table="tableParams" class="table-info table-condensed table-hover table-striped table table-custom">
                            <tbody>
                            <tr ng-repeat="item in $data">
                                <td  data-title="'活动名称'" style="text-align: left;">
                                    <a href="" ng-click="viewDetail(item)">{{item.title}}
                                        <span class="text-danger">({{item.rangeType | salesRuleRangeType }})</span>
                                    </a>
                                </td>
                                <td width="180px"  data-title="'条件'" style="text-align: center;">
                                    满{{item.minPrice | currency:' &yen;'}}元
                                </td>
                                <td width="180px"  data-title="'优惠类型'" style="text-align: center;">
                                    <p ng-if="isKindOfGift(item)"> 满赠</p>
                                    <p ng-if="isKindOfNoCapMinus(item)"> 上不封顶满减</p>
                                    <p ng-if="isKindOfStepMinus(item)"> 阶梯满减</p>
                                </td>
                                <td width="180px"  data-title="'生效时间'" style="text-align: center;">
                                    {{item.startTime | date: "yyyy-MM-dd HH:mm:ss" }}
                                </td>
                                <td width="180px"  data-title="'失效时间'" style="text-align: center;">
                                    {{item.endTime | date: "yyyy-MM-dd HH:mm:ss" }}
                                </td>
                                <td width="100px"  data-title="'状态'" style="text-align: center;">
                                    {{item.status | salesRuleStatus }}
                                </td>
                                <td width="150px" data-title="'操作'" style="text-align: center;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-if="canCancel(item)" ng-click="cancel(item)">撤销</button>
                                        <button type="button" class="btn btn-default" ng-if="canEdit(item)" ng-click="editDetail(item)">编辑</button>
                                        <button type="button" class="btn btn-default" ng-if="canDelete(item)" ng-click="remove(item)">删除</button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="loading" ng-if="!$loaded"></div>
                    <!-- /.loading -->
                </div>

            </div>
            <div class="panel-footer">
                <!-- pagination -->
                <div ng-table-pagination="tableParams" template-url="$templates.pagination"></div>
            </div>
        </div>
    </div>
</div>

<!-- 详细页面-->
<div id="detailPage" style="display: none;"></div>


