<div class="row" ng-if="model.id">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回店铺优惠列表</a></li>
        <li class="active">
            <span>编辑店铺优惠</span>
        </li>
    </ol>
</div>

<div class="row" ng-if="!model.id">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ui-sref="main.salesRules">店铺优惠列表</a></li>
        <li class="active">
            <span>创建店铺优惠</span>
        </li>
    </ol>
</div>


<div class="row">
    <form class="form-horizontal" role="form" id="salesRuleForm" name="salesRuleForm">
        <div class="row">
            <div class="col-lg-24">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        录入信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <p>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                重要提示：同一时间段内一个商品只能参加一个优惠活动，所以某个时间段内已经设置了全店活动，则不能再设置商品优惠活动；如果某一个商品某个时间段参加了其他的商品优惠活动，则不能再选择参加新的商品优惠活动！
                            </p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': (salesRuleForm.title.$dirty || hasCommit) && salesRuleForm.title.$invalid }">
                            <label class="col-sm-4 control-label">&lowast; 活动名称:</label>

                            <div class="col-sm-20">
                                <input class="form-control" name="title" ng-model="model.title"
                                       placeholder="请输入活动名称"
                                       ng-minlength="4" ng-maxlength="15" required />

                                <div class="help-block"
                                     ng-show="(salesRuleForm.title.$dirty || hasCommit) && salesRuleForm.title.$invalid">
                                    <span ng-show="salesRuleForm.title.$error.required">
                                        活动名称必填
                                    </span>
                                     <span ng-show="salesRuleForm.title.$error.minlength">
                                        活动名称不能少于4个字符
                                    </span>
                                    <span ng-show="salesRuleForm.title.$error.maxlength">
                                        活动名称不能超过15个字符
                                    </span>
                                </div>

                            </div>
                        </div>
                        <!-- /.form-group -->


                        <div class="form-group" ng-class="{ 'has-error': (salesRuleForm.description.$dirty || hasCommit) && salesRuleForm.description.$invalid }">
                            <label class="col-sm-4 control-label">&lowast; 活动描述:</label>
                            <div class="col-sm-20">
                                <textarea class="form-control" rows="2" ng-model="model.description" name="description"
                                          placeholder="请输入活动描述"
                                          ng-minlength="4"  ng-maxlength="50" required ></textarea>

                                <div class="help-block"
                                     ng-show="(salesRuleForm.description.$dirty || hasCommit) && salesRuleForm.description.$invalid">
                                    <span ng-show="salesRuleForm.description.$error.required">
                                        活动描述必填
                                    </span>
                                    <span ng-show="salesRuleForm.description.$error.minlength">
                                        活动描述不能少于4个字符
                                    </span>
                                    <span ng-show="salesRuleForm.description.$error.maxlength">
                                        活动描述不能超过50个字符
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-class="{ 'has-error': (salesRuleForm.startTimeDate.$dirty || hasCommit) && salesRuleForm.startTimeDate.$invalid }">
                            <label class="col-sm-4 control-label">
                                &lowast; 生效时间:
                            </label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <a class="input-toggle" id="dropdown1" role="button"
                                       data-toggle="dropdown" data-target="#" href="">
                                        <div class="input-group">
                                            <input id="startTimeDate" type="text" name="startTimeDate"
                                                   class="form-control"
                                                   data-ng-model="model.startTimeDate" readonly="true" required>
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="model.startTimeDate"
                                                        data-datetimepicker-config="{dropdownSelector: '#dropdown1',minView:'day'}"/>
                                    </ul>
                                </div>
                                <div class="help-block"
                                     ng-show="(salesRuleForm.startTimeDate.$dirty || hasCommit) && salesRuleForm.startTimeDate.$invalid">
                                    <span ng-show="salesRuleForm.startTimeDate.$error.required">
                                        生效时间必填
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <select class="form-control" ng-model="model.startTimeHour" name="startTimeHour" ng-options="hourOption as hourOption for hourOption in _hourOptions">
                                </select>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-class="{ 'has-error': (salesRuleForm.endTimeDate.$dirty || hasCommit) && salesRuleForm.endTimeDate.$invalid }">
                            <label class="col-sm-4 control-label">
                                &lowast; 失效时间:
                            </label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <a class="input-toggle" id="dropdown2" role="button"
                                       data-toggle="dropdown" data-target="#" href="">
                                        <div class="input-group">
                                            <input id="endTimeDate" type="text" name="endTimeDate"
                                                   class="form-control"
                                                   data-ng-model="model.endTimeDate" readonly="true" required>
        										<span class="input-group-addon">
        											<i class="glyphicon glyphicon-calendar"></i>
        										</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="model.endTimeDate"
                                                        data-datetimepicker-config="{dropdownSelector: '#dropdown2',minView:'day'}"/>
                                    </ul>
                                </div>
                                <div class="help-block"
                                     ng-show="(salesRuleForm.endTimeDate.$dirty || hasCommit) && salesRuleForm.endTimeDate.$invalid">
                                    <span ng-show="salesRuleForm.endTimeDate.$error.required">
                                        失效时间必填
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="model.endTimeHour" name="endTimeHour" ng-options="hourOption as hourOption for hourOption in _hourOptions">
                                </select>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" >
                            <label class="col-sm-4 control-label">&lowast; 优惠范围:</label>
                            <div class="col-sm-4">
                                <p class="form-control-static" ng-if="model.rangeType == 1">全店参加</p>
                                <p class="form-control-static" ng-if="model.rangeType == 2">特定商品</p>
                            </div>
                            <div class="col-sm-16" ng-if="model.rangeType == 2">
                                <a class="btn btn-primary" ng-click="openSkuSelector()" id="selectSkusBtn" tabindex="11">选择/查看参加的商品</a>
                                &nbsp; 已选择{{model.skuList.length}}个商品
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-if="model.needDeleteSkus.length > 0">
                            <label  class="col-sm-4 control-label"></label>
                            <div class="col-sm-12">
                                <table class="table table-condensed table-custom">
                                    <thead>
                                    <tr>
                                        <th style="width:10px; text-align:center;">#</th>
                                        <th>需要去掉的商品</th>
                                        <th style="width:200px; text-align:center;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="sku in model.needDeleteSkus">
                                        <td>{{$index+1}}.</td>
                                        <td>
                                            <div class="pull-left">
                                                <img style="width:100px;height:100px;" ng-src="{{getProdImageUrl(sku.image)}}"/>
                                            </div>
                                            <div class="pull-left" style="margin-left:10px;">
                                                <b>{{sku.productName}}</b>
                                                <ul class="list-unstyled">
                                                    <li>SKU:  {{sku.skuCode}}</li>
                                                    <li>型号: {{sku.model}}</li>
                                                    <li>价格: {{sku.price | currency:' &yen;' }}</li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div class="form-inline">
                                                <div class="form-group" >
                                                    <a tabindex="10" class="btn btn-danger" ng-click="deleteSku(sku, $index)">
                                                        <span class="glyphicon glyphicon-remove"></span>&nbsp; 删除
                                                    </a>
                                                    <p class="text-danger text-left">此商品在该时间段内已存在有效的店铺优惠，请删除</p>
                                                </div>
                                                <!-- /.form-group-->
                                            </div>
                                            <!-- /.form-inline -->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--/needDeleteSkus-->
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">&lowast; 优惠类型:</label>

                            <div class="col-sm-20" ng-if="!model.id">
                                <label class="radio-inline">
                                    <input type="radio" name="kind" ng-click="selectKind(1)" ng-checked="isKindOfGift()"> 满赠
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="kind" ng-click="selectKind(2)" ng-checked="isKindOfNoCapMinus()"> 上不封顶满减
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="kind" ng-click="selectKind(3)" ng-checked="isKindOfStepMinus()"> 阶梯满减（最多支持三级）
                                </label>
                            </div>
                            <div class="col-sm-20" ng-if="model.id">
                                <p class="form-control-static" ng-if="isKindOfGift()"> 满赠</p>
                                <p class="form-control-static" ng-if="isKindOfNoCapMinus()"> 上不封顶满减</p>
                                <p class="form-control-static" ng-if="isKindOfStepMinus()"> 阶梯满减（最多支持三级）</p>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-if="isKindOfGift() || isKindOfNoCapMinus()" ng-class="{ 'has-error': (salesRuleForm.minPrice.$dirty || hasCommit) && salesRuleForm.minPrice.$invalid }">
                            <label class="col-sm-4 control-label">&lowast; 优惠条件:</label>

                            <div class="col-sm-12">
                                <span ng-if="isKindOfGift()">买满&nbsp;</span>
                                <span ng-if="isKindOfNoCapMinus()">每买满&nbsp;</span>
                                <input class="form-control" name="minPrice" ng-model="model.minPrice" style="display:inline-block;width:100px;"
                                       placeholder=""
                                       validate-positive-integer required
                                       /><span>&nbsp;元</span>
                                <div class="help-block"
                                     ng-show="(salesRuleForm.minPrice.$dirty || hasCommit) && salesRuleForm.minPrice.$invalid">
                                            <span ng-show="salesRuleForm.minPrice.$error.required">
                                                优惠条件必填
                                            </span>
                                            <span ng-show="salesRuleForm.minPrice.$error.integer">
                                                请输入大于0的整数
                                            </span>
                                </div>

                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group" ng-if="isKindOfGift()">
                            <label class="col-sm-4 control-label">&lowast; 送赠品:</label>
                            <div class="col-sm-20">
                                <a class="btn btn-primary" ng-click="openGiftSelector()" id="selectGiftsBtn" tabindex="11">选择/查看赠品</a>
                                &nbsp; 已选择{{model.giftList.length}}个赠品
                            </div>
                        </div>
                        <!-- /.form-group -->


                        <div class="form-group" ng-if="isKindOfNoCapMinus()" ng-class="{ 'has-error': (salesRuleForm.discountAmount.$dirty || hasCommit) && salesRuleForm.discountAmount.$invalid }">
                            <label class="col-sm-4 control-label">&lowast; 减现金:</label>
                            <div class="col-sm-20">
                                <input class="form-control" name="discountAmount" ng-model="model.discountAmount" style="display:inline-block;width:100px;"
                                       placeholder=""
                                       validate-positive-integer ng-required="model.type == 'minus'"
                                       validate-lower-than="{{model.minPrice}}"/><span>&nbsp;元</span>
                                <div class="help-block"
                                     ng-show="(salesRuleForm.discountAmount.$dirty || hasCommit) && salesRuleForm.discountAmount.$invalid">
                                            <span ng-show="salesRuleForm.discountAmount.$error.required">
                                                优惠金额必填
                                            </span>
                                            <span ng-show="salesRuleForm.discountAmount.$error.integer">
                                                请输入大于0的整数
                                            </span>
                                            <span ng-show="salesRuleForm.discountAmount.$error.lowerThan">
                                                优惠金额必须少于条件金额
                                            </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="row" ng-if="isKindOfStepMinus()">
                            <label class="col-sm-4 control-label">&lowast; 优惠规则:</label>
                            <div class="col-sm-8">
                                <table class="table table-condensed table-custom">
                                    <tr ng-repeat="step in model.minusSteps" ng-form="stepForm">
                                        <td>
                                            <span>买满</span>
                                            <span ng-class="{ 'has-error': (stepForm.minPrice.$dirty || hasCommit) && stepForm.minPrice.$invalid }">
                                                <input class="form-control" name="minPrice" ng-model="step.minPrice" style="display:inline-block;width:100px;"
                                                       placeholder="" ng-required="isKindOfStepMinus()"
                                                       validate-large-than="{{model.minusSteps[$index-1].minPrice}}"
                                                       validate-positive-integer  />
                                            </span>
                                            <span>&nbsp;元,减</span>
                                            <span ng-class="{ 'has-error': (stepForm.discountAmount.$dirty || hasCommit) && stepForm.discountAmount.$invalid }">
                                                <input class="form-control" name="discountAmount" ng-model="step.discountAmount" style="display:inline-block;width:100px;"
                                                       placeholder="" ng-required="isKindOfStepMinus()"
                                                       validate-positive-integer
                                                       validate-lower-than="{{model.minusSteps[$index].minPrice}}"/>
                                            </span>
                                            <span>&nbsp;元</span>

                                            <div ng-class="{ 'has-error': (stepForm.minPrice.$dirty || hasCommit) && stepForm.minPrice.$invalid }">
                                                <div class="help-block"
                                                     ng-show="(stepForm.minPrice.$dirty || hasCommit) && stepForm.minPrice.$invalid">
                                                    <span ng-show="stepForm.minPrice.$error.required">
                                                        条件金额必填
                                                    </span>
                                                    <span ng-show="stepForm.minPrice.$error.integer">
                                                        请输入大于0的整数
                                                    </span>
                                                    <span ng-show="stepForm.minPrice.$error.largeThan">
                                                        条件金额必须大于上一梯度的条件金额
                                                    </span>
                                                </div>
                                            </div>

                                            <div ng-class="{ 'has-error': (stepForm.discountAmount.$dirty || hasCommit) && stepForm.discountAmount.$invalid }">
                                                <div class="help-block"
                                                     ng-show="(stepForm.discountAmount.$dirty || hasCommit) && stepForm.discountAmount.$invalid">
                                                    <span ng-show="stepForm.discountAmount.$error.required">
                                                        优惠金额必填
                                                    </span>
                                                    <span ng-show="stepForm.discountAmount.$error.integer">
                                                        请输入大于0的整数
                                                    </span>
                                                    <span ng-show="stepForm.discountAmount.$error.lowerThan">
                                                        优惠金额必须少于条件金额
                                                    </span>
                                                </div>
                                            </div>

                                        </td>
                                        <td style="width:50px;">
                                             <a href="" ng-if="canRemoveNoCapMinusStep()" ng-click="removeNoCapMinusStep($index)"><i class="fa fa-minus-circle"></i></a>
                                             <a href="" ng-if="canAddNoCapMinusStep($last)" ng-click="addNoCapMinusStep()"><i class="fa fa-plus-circle"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row (nested) -->
        <div class="row">
            <div class="col-lg-19">
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <a ng-click="submit()" tabindex="12" id="submitBtn" class="btn btn-primary  btn-lg btn-block"
                       data-loading-text="提交中，请稍候"><span class="glyphicon glyphicon-save"></span>&nbsp; 保   存
                    </a>
                </div>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>



