<div class="row" ng-if="$loaded && model.id">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回飞荐不可列表</a></li>
        <li class="active">
            <span>编辑推荐组合</span>
        </li>
    </ol>
</div>

<div class="row" ng-if="$loaded && !model.id">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回飞荐不可列表</a></li>
        <li class="active">
            <span>创建推荐组合</span>
        </li>
    </ol>
</div>


<div class="row">
    <form class="form-horizontal" role="form" id="groupPromoForm" name="groupPromoForm">
        <div class="row">
            <div class="col-lg-24">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        录入信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">目标主商品:</label>

                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    共{{model.sourceList.length}}个
                                    <a href="" ng-click="toggleSourceList()">
                                        <i class="fa fa-caret-down" ng-if="!isShowSourceList()"> 显示 </i>
                                        <i class="fa fa-caret-up" ng-if="isShowSourceList()"> 隐藏 </i>
                                    </a>
                                </p>
                            </div>
                        </div>-->
                        <!-- /.form-group -->

                        <div class="row">
                            <div class="col-sm-20">
                                <div class="groupPromoBox">
                                    <table class="table table-condensed table-custom">
                                        <thead>
                                        <tr>
                                            <th  width="110px" ></th>
                                            <th>商品</th>
                                            <th style="width:100px; text-align:center;">飞飞价（元）</th>
                                            <th style="width:200px; text-align:center;">搭配价（元）</th>
                                            <th style="width:100px; text-align:center;">库存</th>
                                            <th style="width:300px; text-align:center;"></th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr ng-form="sourceForm" ng-repeat="item in model.sourceList">
                                            <td>
                                                <img ng-src="{{getProdImageUrl(item.image)}}"/>
                                            </td>
                                            <td>
                                                <b>{{item.productName}}</b>
                                                <ul class="list-unstyled">
                                                    <li>SKU:  {{item.skuCode}}</li>
                                                    <li>型号: {{item.model}}</li>
                                                </ul>
                                                <b class="text-danger" ng-if="item.status == 2">此商品已下架</b>
                                            </td>
                                            <td style="text-align:center;">
                                                {{item.price | currency:' &yen;' }}
                                            </td>
                                            <td style="text-align:center;">
                                                <div class="form-inline">
                                                    <div class="form-group" ng-class="{ 'has-error': (sourceForm.promoPrice.$dirty || hasCommit) && sourceForm.promoPrice.$invalid }">
                                                        <input class="form-control" name="promoPrice" ng-model="item.promoPrice" placeholder="请输入搭配价"
                                                               required validate-positive-float validate-lower-than-or-equal-to="{{item.price}}" style="width:150px"/>

                                                        <div class="help-block"
                                                             ng-show="(sourceForm.promoPrice.$dirty || hasCommit) && sourceForm.promoPrice.$invalid">
                                                        <span ng-show="sourceForm.promoPrice.$error.required">
                                                            必填
                                                        </span>
                                                        <span ng-show="sourceForm.promoPrice.$error.float">
                                                            请输入大于0的有效的正浮点数(最多两位小数)
                                                        </span>
                                                        <span ng-show="sourceForm.promoPrice.$error.lowerThanOrEqualTo">
                                                            搭配价必须小于或者等于飞飞价
                                                        </span>
                                                        </div>
                                                        <!-- /.help-block-->
                                                    </div>
                                                </div>

                                            </td>
                                            <td style="text-align:center;">
                                                {{item.quantityOnHand}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--/.groupPromoBox-->
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': (groupPromoForm.groupName.$dirty || hasCommit) && groupPromoForm.groupName.$invalid }">
                            <label class="col-sm-3 control-label">&lowast; 推荐组合名称:</label>

                            <div class="col-sm-6">
                                <input class="form-control" name="groupName" ng-model="model.groupName"
                                       placeholder="请输入推荐组合名称"
                                       ng-maxlength="6" required />

                                <div class="help-block"
                                     ng-show="(groupPromoForm.groupName.$dirty || hasCommit) && groupPromoForm.groupName.$invalid">
                                    <span ng-show="groupPromoForm.groupName.$error.required">
                                        推荐组合名称必填
                                    </span>
                                    <span ng-show="groupPromoForm.groupName.$error.maxlength">
                                        推荐组合名称不能超过6个字符
                                    </span>
                                </div>

                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="row">
                            <div class="col-sm-20">
                                <div class="alert alert-info">
                                    <p>
                                        <a id="skuSelectorBtn" tabindex="20" ng-disabled="!canOpenSkuSelector()" class="btn btn-default" ng-click="openSkuSelector()"><i class="fa fa-lightbulb-o"></i> 添加本店商品</a>
                                        <a ng-disabled="!canOpenInstallServiceSelector()" class="btn btn-default" ng-click="openInstallServiceSelector()"><i class="fa fa-wrench"></i> 添加安装服务</a>

                                        &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>
                                        重要提示：最多可以添加{{MAX_LIST_ITEM}}个搭配推荐商品
                                    </p>
                                </div>
                                <!-- /.alert -->
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-20">
                                <div class="">
                                    <table class="table table-condensed table-custom">
                                        <thead>
                                        <tr>
                                            <th  width="110px" ></th>
                                            <th>搭配商品</th>
                                            <th style="width:100px; text-align:center;">飞飞价（元）</th>
                                            <th style="width:200px; text-align:center;">搭配价（元）</th>
                                            <th style="width:100px; text-align:center;">库存</th>
                                            <th style="width:300px; text-align:center;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr ng-if="model.list.length == 0">
                                            <td colspan="5" style="text-align:center;">请点击“添加本店商品”或“添加安装服务”按钮添加搭配推荐商品</td>
                                        </tr>
                                        <tr ng-repeat="item in model.list" ng-form="itemForm">
                                            <td>
                                                <img ng-src="{{getProdImageUrl(item.image)}}"/>
                                            </td>
                                            <td>
                                                <b>{{item.productName}}</b>
                                                <ul class="list-unstyled">
                                                    <li>SKU:  {{item.skuCode}}</li>
                                                    <li>型号: {{item.model}}</li>
                                                </ul>
                                                <b class="text-danger" ng-if="item.status == 2">此商品已下架</b>
                                            </td>
                                            <td style="text-align:center;">
                                                {{item.price | currency:' &yen;' }}
                                            </td>
                                            <td style="text-align:center;">
                                                <div class="form-inline" ng-if="item.type === 1">
                                                    <div class="form-group" ng-class="{ 'has-error': (itemForm.promoPrice.$dirty || hasCommit) && itemForm.promoPrice.$invalid }">
                                                        <input class="form-control" name="promoPrice" ng-model="item.promoPrice" placeholder="请输入搭配价"
                                                               required validate-positive-float validate-lower-than-or-equal-to="{{item.price}}" style="width:150px"/>

                                                        <div class="help-block"
                                                             ng-show="(itemForm.promoPrice.$dirty || hasCommit) && itemForm.promoPrice.$invalid">
                                                        <span ng-show="itemForm.promoPrice.$error.required">
                                                            必填
                                                        </span>
                                                        <span ng-show="itemForm.promoPrice.$error.float">
                                                            请输入大于0的有效的正浮点数(最多两位小数)
                                                        </span>
                                                        <span ng-show="itemForm.promoPrice.$error.lowerThanOrEqualTo">
                                                            搭配价必须小于或者等于飞飞价
                                                        </span>
                                                        </div>
                                                        <!-- /.help-block-->
                                                    </div>
                                                </div>

                                            </td>
                                            <td style="text-align:center;">
                                                {{item.quantityOnHand}}
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn btn-default" ng-show="!$first" ng-click="moveGroupItem($index,$index-1)"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp; 上移</a>
                                                <a class="btn btn-default" ng-show="!$last" ng-click="moveGroupItem($index,$index+1)"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp; 下移</a>
                                                <a class="btn btn-danger" ng-click="deleteGroupItem($index)"><span class="glyphicon glyphicon-remove"></span>&nbsp; 删除</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--/.groupPromoBox-->
                            </div>
                        </div>
                        <!-- /.row -->


                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row (nested) -->
        <div class="row">
            <div class="col-lg-19">
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <button ng-disabled="!isLoadSuccess()" ng-click="submit()" tabindex="12" id="submitBtn" class="btn btn-primary  btn-lg btn-block"
                       data-loading-text="提交中，请稍候"><span class="glyphicon glyphicon-save"></span>&nbsp; 保   存
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>



