<div ng-controller="mainCtrl">
    <div ng-controller="skuSelectorCtrl" class="sku-selector">
        <div class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-xlg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelSelect()"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            商品(<span ng-show="!multi">单个</span><span ng-show="multi">多个</span>)选择器
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 search-area">
                                <div ng-include="templates.searchArea"></div>
                            </div>
                            <div class="list-area" ng-class="{'col-sm-20':!multi, 'col-sm-12':multi}">
                                <div ng-include="templates.listArea"></div>
                            </div>
                            <div class="result-area col-sm-8" ng-if="multi">
                                <div ng-include="templates.resultArea"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a ng-if="multi" id="submitBtn" ng-click="selectSkus()" data-loading-text="提交中，请稍候" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp; 确  定</a>
                        <a class="btn btn-default" ng-click="cancelSelect()">取消</a>
                    </div>
                </div><!-- /.modal-content -->
            </div>

        </div>
    </div>
</div>

