<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-check-square"></i> 已选择的商品:&nbsp;&nbsp;最多选择{{maxNum}}个，已选择{{selectedSkuArray.length}}个
    </div>
    <div class="panel-body">
        <div class="list">
            <div class="alert alert-info" ng-if="selectedSkuArray.length == 0">请在左边选择区添加商品</div>
            <table class="table-info table-condensed table-hover table-striped table table-custom">
                <tr ng-repeat="sku in selectedSkuArray">
                    <td>
                        {{$index+1}}.
                    </td>
                    <td>
                        <div style="position:relative">
                            <div class="btn-area">
                                <a class="btn btn-default" ng-click="removeSingleSku(sku)"><i class="fa fa-remove"></i> </a>
                            </div>
                            <img title="{{sku.productName}} &nbsp;&nbsp;SKU:  {{sku.skuCode}}" ng-src="{{getProdImageUrl(sku.image)}}"/>
                        </div>
                    </td>
                    <td>
                        <b class="name">{{sku.productName}}</b>
                        <ul class="list-unstyled">
                            <li>SKU:  {{sku.skuCode}}</li>
                            <li>型号: {{sku.model}}</li>
                        </ul>
                    </td>
            </table>
        </div>
    </div>
    <div class="panel-footer" style="height:41px;">
        <a href="" ng-if="selectedSkuArray.length != 0" ng-click="removeAll()"><i class="fa fa-recycle"></i>&nbsp;清空</a>
    </div>
</div>