<div id="logisticsList">
    <div class="row">
        <ol class="breadcrumb">当前位置：
            <li class="active">运费模板列表</li>
        </ol>
    </div>
    <div ng-if="$loaded && (logisticsTables.length == 0)" class="jumbotron">
        <p class="lead"> 运费模板是厂商对买家承担商品运费时候全局定义的一些运费配置信息，可以定义默认的运费，也可以为指定省份地区指定运费。</p>

        <p class="text-center"><a ui-sref="main.createLogistics" class="btn btn-primary"><i
                class="fa fa-plus"></i><span>添加第一个运费模板</span></a></p>
    </div>
    <div ng-if="$loaded && (logisticsTables.length > 0)" class="row btn-bar">
        <div class="col-lg-offset-12 col-sm-12 text-right"><a ui-sref="main.createLogistics" class="btn btn-primary"><i
                class="fa fa-plus"></i><span>添加新的运费模板</span></a></div>
    </div>
    <div class="loading" ng-if="!$loaded"></div>
    <!-- /.loading -->
    <div class="row">
        <div ng-repeat="logistics in logisticsTables" class="panel panel-default panel-list-page">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title"> {{logistics.transFeeTempName}}</div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <div class="btn-group"><a
                                ui-sref="main.editLogistics({transFeeTempId: logistics.transFeeTempId})"
                                class="btn btn-default navbar-btn"><span
                                class="glyphicon glyphicon-pencil"></span><span>&nbsp;修 改</span></a><a
                                ui-sref="main.createLogistics({transFeeTempId: logistics.transFeeTempId})"
                                class="btn btn-default navbar-btn"><span
                                class="fa fa-copy"></span><span>&nbsp;复 制</span></a>
                            <!--span.label.label-default.pull-right 最后更新时间:{{logistics.lastUpdateTime | date: "yyyy-MM-dd HH:mm:ss"}}-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table">
                    <table class="table table-fixed table-info table-condensed table-hover text-center">
                        <thead>
                        <tr>
                            <th class="text-center col-sm-2">配送方式</th>
                            <th class="text-center col-sm-14">配送范围</th>
                            <th class="text-center col-sm-2">首重（kg）</th>
                            <th class="text-center col-sm-2">运费（元）</th>
                            <th class="text-center col-sm-2">续重（kg）</th>
                            <th class="text-center col-sm-2">运费（元）</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>快递</td>
                            <td>全国</td>
                            <td>{{logistics.firstValue}}</td>
                            <td>{{logistics.firstPrice}}</td>
                            <td>{{logistics.addValue}}</td>
                            <td>{{logistics.addPrice}}</td>
                        </tr>
                        <tr ng-repeat="data in logistics.group" ng-if="data">
                            <td>{{_distributionMode[distributionMode]}}</td>
                            <td><span ng-repeat="province in data.provinces">{{_provinceArray[province]}}<span
                                    ng-if="!$last">,</span></span></td>
                            <td>{{data.firstValue}}</td>
                            <td>{{data.firstPrice}}</td>
                            <td>{{data.addValue}}</td>
                            <td>{{data.addPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>