<div class="row">
    <ol class="breadcrumb">
        当前位置：
        <li class="active">修改密码</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel palen-body">
        <br>

        <form class="form-horizontal" role="form" name="form">
            <div class="form-group">
                <label for="inputOldPassword" class="col-sm-3 control-label">&lowast; 旧密码:</label>

                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputOldPassword" ng-model="account.oldPassword"
                           maxlength="20">
                </div>
                <div class="col-sm-3" ng-if="!account.oldPassword">
          <span>
            <i class="glyphicon glyphicon-minus-sign text-danger"></i>
          </span>
                    请输入旧密码
                </div>
            </div>

            <div class="form-group">
                <label for="inputNewPassword" class="col-sm-3 control-label">&lowast; 新密码:</label>

                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputNewPassword" ng-model="account.newPassword"
                           name="account.newPassword" maxlength="20">
                    <span class="help-block">6-20位的数字、字母、符号，区分大小写</span>
                    <ul check-strength="account.newPassword" class="password-strength"></ul>
                </div>
                <div class="col-sm-6">
          <span ng-show="account.newPassword.length > 0 && (account.newPassword.length <6 || account.newPassword.length > 20)">
            <i class="glyphicon glyphicon-remove text-danger"></i>
            密码长度必须在6-20位之间
          </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">

                </div>
            </div>
            <div class="form-group">
                <label for="inputNewPasswordAgain" class="col-sm-3 control-label">&lowast; 确认新密码:</label>

                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputNewPasswordAgain"
                           ng-model="account.newPasswordAgain" maxlength="20">
                </div>
                <div class="col-sm-6">
          <span ng-if="account.newPassword.length >= 6 && account.newPassword === account.newPasswordAgain ">
            <i class="glyphicon glyphicon-ok text-success"></i>
          </span>
          <span ng-show="account.newPassword.length >= 6 &&  account.newPasswordAgain.length>0 && account.newPassword !== account.newPasswordAgain">
            <i class="glyphicon glyphicon-remove text-danger"></i>
            两次输入的密码不一致
          </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <button ng-disabled="(!account.oldPassword || !account.newPassword )|| (account.newPassword.length < 6 || account.newPassword !== account.newPasswordAgain)"
                            type="submit" class="btn btn-primary form-control" ng-click="updatePassword();">修改密码
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="form-control-static">
                        <b ng-if="isSuccess === true" class="text-success">{{successMsg}}</b>
                        <b ng-if="isSuccess === false" class="text-danger">{{errorMsg}}</b>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>