
<div class="table-responsive">
    <table ng-table="factoryPriceTableParams" class="table table-condensed table-hover table-custom">
        <tbody>
        <tr ng-repeat="finance in $data">
            <div class="empty-tip" ng-if="financeTableParams.total()==0">
                暂无列表数据
            </div>
            <td  width="15%"  style="text-align: center;" data-title="'结算时间'"   >
                {{finance.name}}
            </td>
            <td  width="15%" style="text-align: center;"   data-title="'销售金额(元)'">
                ￥{{finance.saleFee}}
            </td>
            <td  width="15%" style="text-align: center;"  data-title="'调整金额(元)'">
                ￥{{finance.adjustFee}}
            </td>
            <td  width="15%" style="text-align: center;"  data-title="'其他金额(元)'">
                ￥{{finance.otherFee}}
            </td>
            <td  width="15%" style="text-align: center;"  data-title="'结算金额(元)'">
                ￥{{finance.adjustCashierFee}}
            </td>
            <td width="25%" style="text-align: center;"  data-title="'操作'">
                <a href="/data/finance/export/skuDetail/{{finance.monthStr}}/{{finance.halfMonthType}}" type="button"  class="btn btn-primary" target="下载">下载明细</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

