<!-- 结算列表页面-->
<div id="financeListPage">
    <div class="row">
        <ol class="breadcrumb">
            当前位置：
            <li><a ui-sref="main.finance">结算</a></li>
            <li class="active">结算列表</li>
        </ol>
    </div>
</div>
<div class="row list-with-tabs">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" style="width:120px;" ng-class="{active:currentTab == 1}">
                <a href="javascript:void(0)" ng-click="commissionFinance()">
                    佣金结算
                </a>
            </li>
            <li role="presentation" style="width:120px;"  ng-class="{active:currentTab == 2}">
                <a href="javascript:void(0)" ng-click="factoryPriceFinance()">
                    出厂价结算
                </a>
            </li>
        </ul>
        <div class="panel panel-default panel-list-page">
            <!--<div class="panel-heading"><br></div>-->
            <div class="panel-body">
                <div class="row">
                    <div ng-include="listTemplates" id="currentTab"></div>
                </div>

                <div class="loading" ng-if="!$loaded"></div>
                <!-- /.loading -->
            </div>
            <div class="panel-footer" ng-if="currentTab == 1">
                <div ng-table-pagination="commissionTableParams" template-url="$templates.pagination"></div>
            </div>
            <div class="panel-footer" ng-if="currentTab == 2">
                <div ng-table-pagination="factoryPriceTableParams" template-url="$templates.pagination"></div>
            </div>
        </div>
    </div>

    <!-- pagination -->
  
</div>