<!-- 处 理 信 息 中 的 换 货 详 情 -->
<div class="row">
    <!-- 换货详情（待受理） -->
    <div ng-if="refundStatus==1">
        <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
        <div class="col-lg-21">
            <h3 class="title">请受理换货申请</h3>
            <p>
                消费者以“商品质量问题”原因申请换货，建议您主动与消费者协商解决换货事宜，为您的店铺带来更多的交
                易机会，避免您与消费者之间的误会带来不必要的损失。如遇无理要求，可申请飞飞客服协商。
            </p>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-21">
                <div class="well">
                    <div ng-include="template.recycleAddress"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 换货详情（待换货）-->
    <div ng-if="refundStatus==2">
        <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
        <div class="col-lg-21">
            <h3 class="title">等待消费者换货</h3>
            <p>
               <!--  消费者在7天内没有退货，该退货单将由系统自动取消。 -->
                如果制造商已经收到退货商品，点击下面“已回收退货商品”按钮。
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-block btn-default" ng-click="recycle();">已回收换货商品</button>
                </div>
                <!-- <div class="col-lg-6">
                    <button class="btn btn-block btn-link">申请飞飞客服介入</button>
                </div> -->
            </div>
        </div>
    </div>

    <!-- 换货详情（换货中） -->
    <div ng-if="refundStatus==3">
        <div class="raw">
            <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
            <div class="col-lg-21">
                <h3 class="title">换货商品正在寄回</h3>
                <p>
                    如果制造商已经收到退货商品，点击下面“已回收退货商品”按钮。
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-block btn-default" ng-click="recycle();">已回收换货商品</button>
                    </div>
                    <!-- <div class="col-lg-6">
                        <button class="btn btn-block btn-link">申请飞飞客服介入</button>
                    </div> -->
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-offset-21">
                <div ng-include="template.refundLogistics"></div>
            </div>
        </div>
    </div>

    <!-- 换货详情（待重发） -->
    <div ng-if="refundStatus==4">
        <div class="raw">
            <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
            <div class="col-lg-21">
                <h3 class="title">等待制造商重发商品</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-offset-21">
                <div ng-include="template.redeliver"></div>
            </div>
        </div>
    </div>

    <!-- 换货详情（已重发） -->
    <div ng-if="refundStatus==5">
        <div class="raw">
            <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
            <div class="col-lg-21">
                <h3 class="title">等待消费者签收商品</h3>
               <!--  <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-block btn-link">申请飞飞客服介入</button>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-21">
                <div ng-include="template.refundLogistics"></div>
            </div>
        </div>
    </div>

    <!-- 换货详情（完成） -->
    <div ng-if="refundStatus==6">
        <div class="raw">
            <div class="col-lg-3 icon"><i class="fa fa-check-circle fa-4x text-success"></i></div>
            <div class="col-lg-21">
                <h3 class="title">换货完成</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-21">
                <div ng-include="template.refundLogistics"></div>
            </div>
        </div>
    </div>

    <!--换货详情（取消）-->
    <div ng-if="refundStatus==7">
        <div class="col-lg-3 icon"><i class="fa fa-exclamation-circle fa-4x"></i></div>
        <div class="col-lg-21">
            <h3 class="title">消费者取消了换货申请</h3>
        </div>
    </div>

</div>
