<!-- 重发/补发 -->
<form class="form-horizontal" name="form" >
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-lg-6 control-label">收货人：</label>
        <div class="col-sm-15">
            <p class="form-control-static">{{refund.resendAddressDTO.contactPerson}}</p>
        </div> 
    </div>
    <div class="form-group">
        <label class="col-lg-6 control-label">收货地址：</label>
        <div class="col-sm-18">
            <p class="form-control-static">{{refund.resendAddressDTO.country+refund.resendAddressDTO.state+refund.resendAddressDTO.city+refund.resendAddressDTO.area+refund.resendAddressDTO.street+refund.resendAddressDTO.contactAddress}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-6 control-label">联系方式：</label>
        <div class="col-sm-15">
            <p class="form-control-static">{{refund.resendAddressDTO.contactTel}}</p>
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <div class="form-group">
                <label class="col-lg-6 control-label">物流/快递公司：</label>
                <div class="col-lg-6" ng-class="{ 'has-error': form.company.$invalid &&  !form.company.$pristine}">
                    <select class="form-control" name="company" ng-model="deliverInfo.logisticsCompany"  ng-options="item.name for item in logisticsCompany" required>
                        <option  value="">----请选择物流/快递公司----</option>
                    </select>
                    <div class="help-block" ng-show="form.company.$dirty && form.company.$invalid">
                        <span ng-show="form.company.$error.required">
                            物流公司不为空
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-6 control-label">运单号：</label>
                <div class="col-lg-6" ng-class="{ 'has-error': form.trackingNo.$invalid && !form.trackingNo.$pristine}">
                    <div style="position:relative">
                        <div class="largerView">{{formattedOutputNumber(deliverInfo.trackingNo)}}</div>
                        <input typ="text" ng-maxlength="32" class="form-control" name="trackingNo" ng-pattern="/^[A-Za-z0-9]+$/" ng-model="deliverInfo.trackingNo" required
                               ng-focus="trackingNoOnFocus($event)" ng-blur="trackingNoOnBlur($event)"/>
                        <div class="help-block" ng-show="form.trackingNo.$dirty && form.trackingNo.$invalid">
                        <span ng-show="form.trackingNo.$error.required">
                        运单号不可为空
                        </span>
                        <span ng-show="form.trackingNo.$invalid &&!form.trackingNo.$error.required">
                        只允许输入字母和数字
                        </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-6 col-lg-6">
                    <button class="btn btn-primary form-control" type="submit" ng-disabled="form.$invalid" ng-click="deliver(deliverInfo)">重发商品</button>
                </div>
               <!--  <div class="col-lg-6">
                    <button class="btn btn-block btn-link">申请飞飞客服介入</button>
                </div> -->
            </div>
        </div>


    </div>

</form>