
<div class="modal-header">
  <h4 class="modal-title">修改地址</h4>
</div>
<div ng-controller="refundAddressListCtrl" class="container-fluid">
  <div class="row">
    <div ng-repeat="address in addressArray" class="col-lg-24 radio">
      <label ng-if="address.defaultFlag">
        <input ng-click="setDefault($index, address.tmsMftAddressId)" type="radio" name="optionsRadios" value="{{address.tmsMftAddressId}}" checked>{{address.state}}{{address.city}}{{address.area}}{{address.contactAddress}}
      </label>
      <label ng-if="!address.defaultFlag">
        <input ng-click="setDefault($index, address.tmsMftAddressId)" type="radio" name="optionsRadios" value="{{address.tmsMftAddressId}}" >{{address.state}}{{address.city}}{{address.area}}{{address.contactAddress}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-24">
      <button ng-click="addAddressPopover($event)" class="btn btn-link">添加新地址</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="closeThisDialog()" class="btn btn-default">取消</button>
<!--   <button class="btn btn-primary">确定</button> -->
</div>