<div class="row">
	<ol class="breadcrumb">
		当前位置:
		<li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回优惠券列表</a>
		<li class="active">查看优惠券</li> 
	</ol>
</div>
<div class="panel panel-default">
	<div class="panel panel-body">
		<div class="row">
			<div class="col-lg-24">
				<form class="form-horizontal" role="form" id="checkCouponDetailForm" name="checkCouponDetailForm">
					<!-- <div class="col-sm-3">
						<button class="btn btn-primary btn-block" ng-click="backToList();">返&nbsp;回&nbsp;列&nbsp;表</button></div> -->
					<br> 
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group"> 
								<label class="col-sm-4 control-label">优惠劵名称:</label>
								<div class="col-sm-10 form-control-static text-warning" ng-hide="enableEditInfo">
									{{couponDetail.name}}
								</div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">适用范围:</label>
								<div class="col-sm-3  form-control-static" ng-hide="enableEditInfo">
								    全店
								</div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">面额:</label>
								<div class="col-sm-10 form-control-static" ng-hide="enableEditInfo">
									{{couponDetail.discount_amount}} 元  
								</div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group">
								<label  class="col-sm-4 control-label">有效时间:</label>  
							    <div class="col-sm-12" ng-hide="enableEditInfo" id="useTime">
								    <div class="col-sm-8 form-control-static" >
								    	{{couponDetail.date_start}}
								    </div>
								    <div class="col-sm-2 form-control-static" >
								    	至
								    </div>
								    <div class="col-sm-8 form-control-static" >
								    	{{couponDetail.date_end}}
								    </div>
								</div> 
							    
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">数量:</label>
								<div class="col-sm-6 form-control-static" ng-hide="enableEditInfo">
									{{couponDetail.limit_num}}张  
								</div> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">使用条件:</label>
								<div class="col-sm-6 form-control-static" ng-if="couponDetail.min_buy_amount!=0"ng-hide="enableEditInfo">满{{couponDetail.min_buy_amount}}元  
								</div> 
								<div class="col-sm-6 form-control-static" ng-if="couponDetail.min_buy_amount==0"ng-hide="enableEditInfo">不限
								</div>  
							</div>
						</div>
					</div>
					<div class="row"  ng-hide="enableEditInfo">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">状态:</label>
								<div class="col-sm-6 form-control-static">
									{{couponDetail.is_show|couponStatus}}  
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="enableEditInfo">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">已领取:</label>
								<div class="col-sm-6 form-control-static" ng-hide="enableEditInfo">
									{{couponDetail.dispatched}}张  
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="enableEditInfo">
						<div class="col-sm-18">
							<div class="form-group">
								<label class="col-sm-4 control-label">已使用:</label>
								<div class="col-sm-6 form-control-static" >
									{{couponDetail.used}}张  
								</div>
							</div>
						</div>
					</div>
					 
				</form>
			</div>
		</div>
		 
	</div>
</div>