<div id="couponListPage">
	<div class="row functionBar">
		<ol class="breadcrumb">当前位置：
			<li class="active">优惠劵</li>
		</ol>
		<div class="searchBarControl">
            <a href="" ng-click="showSearchBar()" ng-if="!isSearchBarShow()"><i class="fa fa-caret-down"></i> 显示搜索栏</a>
            <a href="" ng-click="hideSearchBar()" ng-if="isSearchBarShow()"><i class="fa fa-caret-up"></i> 隐藏搜索栏</a>
        </div>

	</div>

	<div class="row"  ng-class="{'show':isSearchBarShow(),'hidden':!isSearchBarShow()}">
		 <div class="col-lg-24">
		 	<div class="panel panel-default panel-search">  
			 	<div class="panel-body">
			 		<div class="row">
			 			<div class="col-lg-24">
			 				<form class="form-horizontal" role="form" id="couponSearchForm" name="couponSearchForm">
			 					<div class="row">
			 						<div class="col-sm-8">
		 							    <div class="form-group">
			 							 	<label class="col-sm-6 control-label">优惠劵名称:</label>
			 							 	<div class="col-sm-15">
			 							 		<input   ng-model="query.name" name="name" ng-type="text" class="form-control">
			 							 	</div>
		 							    </div>
			 						</div>
			 						<div class="col-sm-14">
			 							<div class="form-group">
			 								<label  class="col-sm-4 control-label">有效时间:</label>
		 								    <div class="col-sm-9">
		 								    	<div class="dropdown">
		 								    		<a class="input-toggle" id="dropdown1" role="button" data-toggle="dropdown"  data-target="#" href="">
		 								    			<div class="input-group">
		 								    				<input id="dateStart" ng-readonly="true" type="text" name="dateStart" class="form-control" data-ng-model="query.dateFrom">
		 								    				<span class="input-group-addon">
		 								    					<i class="glyphicon glyphicon-calendar"></i>
		 								    				</span>
		 								    			</div>
		 								    		</a>
		 								    		<ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
		 								    			<datetimepicker data-ng-model="query.dateFrom" data-datetimepicker-config="{dropdownSelector:'#dropdown1', minView:'day'}" />
		 								    		</ul>
		 								    	</div>
		 								    </div>
		 								    <div class="col-sm-2"> 
                                                <div class="form-group">
                                                	<label class="col-sm-4 control-label">至</label>
                                                </div>
			 								</div>	
		 								    <div class="col-sm-9">
		 								    	<div class="dropdown">
		 								    		<a class="input-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
		 								    			<div class="input-group">
		 								    				<input id="dateEnd" ng-readonly="true"  type="text" name="dateEnd" class="form-control" data-ng-model="query.dateTo">
		 								    				<span class="input-group-addon">
		 								    					<i class="glyphicon glyphicon-calendar"></i>
		 								    				</span>
		 								    			</div>
		 								    		</a>
		 								    		<ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
		 								    			<datetimepicker data-ng-model="query.dateTo" data-datetimepicker-config="{dropdownSelector:'#dropdown2', minView:'day'}" />
		 								    		</ul>
		 								    	</div>
		 								    </div>
			 							</div>
			 						</div>
			 					</div>

			 					<div class="row">
			 						<div class="col-sm-8">
			 							<div class="form-group" ng-class="{'has-error':(couponSearchForm.discountAmountFrom.$invalid && !couponSearchForm.discountAmountFrom.$pristine)
			 							||(couponSearchForm.discountAmountTo.$invalid && !couponSearchForm.discountAmountTo.$prisine)}">
			 								<label class="col-sm-6 control-label">面额:</label>
			 								<div class="col-sm-7"> 
					 							<input ng-model="query.discountAmountFrom" name="discountAmountFrom" ng-type="text" class="form-control" validate-float>  
				 								<div class="help-block" ng-show="couponSearchForm.discountAmountFrom.$dirty && couponSearchForm.discountAmountFrom.$invalid">
				 									<span ng-show="couponSearchForm.discountAmountFrom.$error.float">
				 										请输入有效的金额
				 									</span>
				 								</div>
			 								</div> 
			 								<div class="col-sm-1"> 
                                                <div class="form-group">
                                                	<label class="col-sm-4 control-label">至</label>
                                                </div>
			 								</div>	
		 									<div class="col-sm-7">
			 									<input ng-model="query.discountAmountTo" name="discountAmountTo" ng-type="text" class="form-control" validate-float>
			 									<div class="help-block" ng-show="couponSearchForm.discountAmountTo.$dirty && couponSearchForm.discountAmountTo.$invalid">
				 									<span ng-show="couponSearchForm.discountAmountTo.$error.float">
				 										请输入有效的金额
				 									</span>
			 								    </div>
			 								</div>	
			 							</div>
			 						</div>
			 						<div class="col-sm-8">
			 							<div class="form-group">
			 								<label class="col-sm-7 control-label">状态:</label>
			 								<div class="col-sm-8">
			 									<select id="searchSelect"class="col-sm-7 form-control" ng-model="query.isShow" ng-options="item.value as item.label for item in _couponConstants.couponStatus">

			 										<option value="" selected>全部</option>
			 									</select>
			 								</div>
			 							</div>
			 						</div>
			 						<div class="col-sm-4">
			 							<div class="form-group">
			 								<button class="btn btn-primary btn-block" id="couponSearchBtn" ng-click="search();">搜索</button>
			 							</div>
			 						</div>
			 						<div class="col-sm-1"></div>
			 						<div class="col-sm-3">
			 							<div class="form-group">
			 								<button class="btn btn-default" id="couponResetBtn" ng-click="reset();">重置</button>
			 							</div>
			 						</div>
			 					</div>  
			 				</form>
			 			</div>
			 		</div>
			 	</div>
			 </div>
		 </div>
	</div>
	<div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>同一店铺最多可同时上架派发3张优惠券。　
    </div>
	<div class="panel panel-default panel-list-page">
		<div class="panel-heading">
			<div class="row">  
				 &nbsp;&nbsp;<button class="btn btn-primary  navbar-btn col-sm-offset-1"  ng-click="addCoupon();"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加优惠劵</button>
				 <div class="col-sm-12 pull-right text-right">
                    <div ng-table-pagination="couponTableParams" template-url="$templates.paginationShort"></div>
                </div>
			</div> 
		</div>
	    <div class="panel-body">
            <div class="row">
                <div ng-include="templates.couponTable"></div>
            </div>

            <div class="loading" ng-if="!$loaded"></div>
            <!-- /.loading -->
	   </div> 	
	   <div class="panel-footer"> 
	        <div ng-table-pagination="couponTableParams" template-url="$templates.pagination"></div>
	    </div>
	</div> 
</div>
<!-- <div id="couponDetailPage" ng-controller="couponDetailCtrl" style="display:none;">
	<div ng-include="templates.couponDetail"></div>
</div>	 
<div id="checkCouponDetailPage" ng-controller="checkCouponDetailCtrl" style="display:none;">
	<div ng-include="templates.checkCouponDetail"></div>
</div>	 -->
<!--详细页面-->
<div id="couponDetailPage" style="display: none;"></div>

<div id="checkCouponDetailPage" style="display: none;"></div>
