<div class="table-responsive" id="couponList">
    <div style="position:relative"> 
        <div id="selectControl">
            <select  ng-model="selectTableStatus" show-filter="true" ng-change="statusChange(selectTableStatus)" ng-options="item.label for item in _couponConstants.couponStatus">
                <option value="" selected>全部</option>
            </select>
        </div>
        <table  ng-table="couponTableParams" id="table1" class="table-info table-condensed table table-custom" >
            <!-- <thead>
                <tr class="text-center">
                    <th class="text-center">优惠劵名称</th>
                    <th class="text-center">面额（元）</th>
                    <th class="text-center">派发数量</th>
                    <th class="text-center">已领取</th>
                    <th class="text-center">有效时间</th>
                    <th class="text-center">
                        状态
                        <select ng-model="selectTableStatus" show-filter="true" ng-change="statusChange(selectTableStatus)" ng-options="item.label for item in _couponConstants.couponStatus">
                            <option value="" selected>全部</option>
                        </select>
                    </th>
                    <th class="text-center">操作</th>
                </tr>
            </thead> -->
            <tbody   class="table table-condensed">
                <tr class="text-center" ng-repeat="coupon in $data"  >
                    <td width=""  data-title="'优惠劵名称'" >
                        <a href="javascript:void(0)" ng-click="showDetail(coupon.coupon_id)">{{coupon.name}}
                            <span ng-if="coupon.limit_num === coupon.dispatched" class="text-danger">(已派完)</span>
                        </a>

                    </td>
                    <td style="width:80px;"  data-title="'面额（元）'" >{{coupon.discount_amount}}
                    </td>
                    <td style="width:80px;"  data-title="'派发数量'">{{coupon.limit_num}}
                    </td>
                    <td style="width:80px;"  data-title="'已领取'">{{coupon.dispatched}}
                    </td>
                    <td style="width:270px;" data-title="'有效时间'" sortable="'date_end'">
                        <div class="row">
                            <div class="col-sm-10">{{coupon.date_start}}</div>
                            <div class="col-sm-2">至&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="col-sm-10">{{coupon.date_end}}</div>
                        </div>
                    </td>
                    <td style="width:230px;" id="selectStatus" data-title="'状态'" sortable="'is_show'">{{coupon.is_show | couponStatus}}</td>
                    <td style="width:200px;" data-title="'操作'">
                        <div class="btn-group">
                                <button type="button" ng-if="coupon.is_show === 0" class="btn btn-default" ng-click="handleCoupon(coupon.coupon_id,1)">上架</button>
                                <button type="button" ng-if="coupon.is_show === 1 ||coupon.is_show  == 3" class="btn btn-default" ng-click="handleCoupon(coupon.coupon_id,2);">下架</button>
                                <button type="button" ng-if="coupon.is_show !== 0" class="btn btn-default" ng-click="showDetail(coupon.coupon_id)">查看</button>
                                <button type="button" ng-if="coupon.is_show === 0" class="btn btn-default" ng-click="updateCoupon(coupon.coupon_id);">编辑</button>
                                <button type="button" ng-if="coupon.is_show === 0" class="btn btn-default" ng-click="deleteCoupon(coupon);">删除</button> 
                        </div>
                    </td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
