<div class="row">
	<ol class="breadcrumb">
		当前位置:
		<li><a href="" ng-click="updateBackToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回优惠券列表</a>
		<li class="active" >编辑优惠券</li> 
	</ol>
</div>

		<div class="row">
			<div class="col-lg-24">
				<form class="form-horizontal" role="form" id="couponDetailForm" ng-init="hasCommit == false" name="couponDetailForm" novalidate>
					<div class="panel panel-default">
						<div class="panel-heading">
							编辑优惠券
						</div>
						<div class="panel-body">
					<!-- <div class="col-sm-3">
						<button class="btn btn-primary btn-block" ng-click="updateBackToList();">返&nbsp;回&nbsp;列&nbsp;表</button></div> --> 
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group"> 
										<label class="col-sm-4 control-label">&lowast; 优惠劵名称:</label>
										<!-- <div class="col-sm-10 form-control-static text-warning" ng-hide="enableEditInfo">
											{{couponDetail.name}}
										</div>  -->
										<div class="col-sm-18"   ng-class="{ 'has-error': (couponDetailForm.name.$dirty || hasCommit) && couponDetailForm.name.$invalid }">
			                                <div class="col-sm-18"> 
			                                	<input type="text" name="name" class="form-control" ng-maxlength="15" ng-model="couponDetail.name" required />
			                                	<div class="alert alert-info">
			                                	    <span class="glyphicon glyphicon-info-sign"></span>名称在15个字以内。　
			                                    </div>  
			                                </div>
			                               
			                                <div class="help-block" ng-show="couponDetailForm.name.$invalid && (couponDetailForm.name.$dirty || hasCommit)">
			                                    <span ng-show="couponDetailForm.name.$error.required">
			                                        名称不为空
			                                    </span>
			                                    <span ng-show="couponDetailForm.name.$error.maxlength">
			                                        名称不能超过15个字符
			                                    </span>
			                                </div>
		                            	</div> 
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group">
										<label class="col-sm-4 control-label">&lowast; 适用范围:</label>
										<!-- <div class="col-sm-3  form-control-static" ng-hide="enableEditInfo">
										    全店
										</div> -->
										<div class="col-sm-18  form-control-static" >
											<div class="col-sm-18">
												<input type="radio" checked/> 全店 
												<div class="alert alert-info">
			                                		<span class="glyphicon glyphicon-info-sign"></span>即全品牌所有商品　
			                                    </div> 
											</div>   
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group">
										<label class="col-sm-4 control-label">&lowast; 面额:</label>
										<!-- <div class="col-sm-10 form-control-static" ng-hide="enableEditInfo">
											{{couponDetail.discount_amount}} 元  
										</div> -->
										<div class="col-sm-18"   ng-class="{ 'has-error': couponDetailForm.discount_amount.$invalid && (couponDetailForm.discount_amount.$dirty || hasCommit)}">  
											<div class="col-sm-18">
												<input type="text" validate-amount name="discount_amount"  class="form-control"  ng-model="couponDetail.discount_amount" required />
			                                	<div class="alert alert-info">
			                                		<span class="glyphicon glyphicon-info-sign"></span>面额必须为5的倍数，最大不能超过1000元。　
			                                    </div>  
			                                </div> 
			                                <!--^([1-9]\d*)*[0|5]$   ng-pattern="/(^([1-9]\d*)*[0|5]$)||(^[1-9][0-9]{0,2}$)|(^1000$)/"-->
			                                <div class="help-block" ng-show="(couponDetailForm.discount_amount.$dirty||hasCommit) && couponDetailForm.discount_amount.$invalid">
			                                    <span ng-show="couponDetailForm.discount_amount.$error.required">
			                                        面额不为空
			                                    </span>
			                                    <span ng-show="couponDetailForm.discount_amount.$error">
			                                        面额必须为5的倍数且不大于1000
			                                    </span> 
			                                </div>
		                            	</div> 
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group">
										<label  class="col-sm-4 control-label">&lowast; 有效时间:</label>
										<div class="col-sm-18" > 
										    <div class="col-sm-8" ng-class="{ 'has-error': couponDetailForm.date_start.$invalid && (couponDetailForm.date_start.$dirty || hasCommit)}">
										    	<div class="dropdown">
										    		<a class="input-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">
										    			<div class="input-group" >
										    				<input  readonly="true" id="date_start" type="text" name="date_start" class="form-control" data-ng-model="couponDetail.date_start" required />
										    				<span class="input-group-addon">
										    					<i class="glyphicon glyphicon-calendar"></i>
										    				</span>
										    			</div>
										    		</a>
										    		<ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
										    			<datetimepicker data-ng-model="couponDetail.date_start" data-datetimepicker-config="{dropdownSelector:'#dropdown1', minView:'day'}" />
										    		</ul>
										    		<div class="help-block" ng-show="(couponDetailForm.date_start.$dirty || hasCommit) && couponDetailForm.date_start.$invalid">
					                                    <span ng-show="couponDetailForm.date_start.$error.required">
					                                        时间不为空
					                                    </span> 
			                                		</div>
										    	</div>
										    </div>
										    <div class="col-sm-2 form-control-static" >
										    	至
										    </div>
										    <div class="col-sm-8" ng-class="{ 'has-error': couponDetailForm.date_end.$invalid && (couponDetailForm.date_end.$dirty|| hasCommit)}">
										    	<div class="dropdown">
										    		<a class="input-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
										    			<div class="input-group"  >
										    				<input    id="date_end" type="text" name="date_end" class="form-control" data-ng-model="couponDetail.date_end" required readonly="true" />
										    				<span class="input-group-addon">
										    					<i class="glyphicon glyphicon-calendar"></i>
										    				</span>
										    			</div>
										    		</a>
										    		<ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
										    			<datetimepicker data-ng-model="couponDetail.date_end" data-datetimepicker-config="{dropdownSelector:'#dropdown2', minView:'day'}" />
										    		</ul>
										    		<div class="help-block" ng-show="(couponDetailForm.date_end.$dirty|| hasCommit) && couponDetailForm.date_end.$invalid">
					                                    <span ng-show="couponDetailForm.date_end.$error.required">
					                                        时间不为空
					                                    </span> 
			                                		</div>
										    	</div>
										    </div>
										    <div id="validTime" class="col-sm-17  alert alert-info">
				                        		<span class="glyphicon glyphicon-info-sign"></span>此为优惠劵使用的有效时间，非优惠券的领取有效时间。　
				                            </div>  
									    </div>
									    
									    <!-- <div class="col-sm-12" ng-hide="enableEditInfo" id="useTime">
										    <div class="col-sm-6 form-control-static" >
										    	{{couponDetail.date_start}}
										    </div>
										    <div class="col-sm-2 form-control-static" >
										    	至
										    </div>
										    <div class="col-sm-6 form-control-static" >
										    	{{couponDetail.date_end}}
										    </div>
										</div>-->
									    
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group">
										<label class="col-sm-4 control-label">&lowast; 数量:</label>
										<!-- <div class="col-sm-6 form-control-static" ng-hide="enableEditInfo">
											{{couponDetail.limit_num}}张  
										</div> -->
										<div class="col-sm-18"  ng-class="{ 'has-error': couponDetailForm.limit_num.$invalid && (couponDetailForm.limit_num.$dirty|| hasCommit)}"> 
											<div class="col-sm-18">
												<input  type="text" id="dateEnd" ng-model="couponDetail.limit_num"  max="9999" min="0"  name="limit_num" class="form-control" ng-pattern="/^(?!(0{1,4}(((\\.0{0,2})?))$))([1-9]{1}[0-9]{0,3}|0)(\\.[0-9]{1,2})?$/" required />  
												<div class="alert alert-info">
				                                	<span class="glyphicon glyphicon-info-sign"></span>不能超过9999张，默认每人限领一张。　
				                                </div> 
											</div> 
											<div class="help-block" ng-show="(couponDetailForm.limit_num.$dirty || hasCommit) && couponDetailForm.limit_num.$invalid">
			                                    <span ng-show="couponDetailForm.limit_num.$error.required">
			                                        数量不为空
			                                    </span>
			                                    <span ng-show="couponDetailForm.limit_num.$error">
			                                        最大不能超过9999		
			                                    </span>
			                                </div>  
										</div> 
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-18">
									<div class="form-group">
										<label class="col-sm-4 control-label">&lowast; 使用条件:</label>
										<!-- <div class="col-sm-6 form-control-static" ng-hide="enableEditInfo">满{{couponDetail.min_buy_amount}}元  </div> -->
										<div  id="useCondition" class="col-sm-16" > 
											<ul class="list-unstyled">
												<li>	
			                                    	<input  type="radio" ng-click="minAmountChange(0);"  id="condition1" name="condition" value="0"  >不限
			                                    </li> 
			                                    <li>
			                                        <div class="form-group">
														<div class="col-sm-4 form-control-static">
															<input  id="condition2" ng-checked="true" type="radio" value="1" ng-click="minAmountChange(1);" name="condition"  />订单满</div>
														<div class="col-sm-5"  id="minAmount" ng-class="{'has-error': couponDetailForm.min_buy_amount.$invalid && (couponDetailForm.min_buy_amount.$dirty||hasCommit)&& hasAmount}">
															<input  id="minBuyAmount"  ng-model="couponDetail.min_buy_amount"  class="col-sm-2 form-control" name="min_buy_amount"  validate-float required />
															<div id="amountAlert" class="help-block" ng-show="(couponDetailForm.min_buy_amount.$dirty ||hasCommit)&& hasAmount && couponDetailForm.min_buy_amount.$invalid">
							                                    <span ng-show="couponDetailForm.min_buy_amount.$error.required">
							                                        金额不为空
							                                    </span>
							                                    <span ng-show="couponDetailForm.min_buy_amount.$error">
							                                        请输入大于0的金额	
							                                    </span> 
							                                </div>  
														</div>
														<div class="form-control-static">元</div>
													</div>  
			                                    </li> 
		                                   
		                                	</ul>  
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					 
					<div class="row">
						<div class="col-sm-26" >
							<div class="form-group"> 
								<div class="col-sm-15"></div>
								<div class="col-sm-4">
									<button class="btn btn-primary btn-lg btn-block col-sm-4" ng-click="saveOrUpdate(couponDetail,couponDetailForm.$valid);">保&nbsp;&nbsp;&nbsp;存</button>
								</div>
								<div class="col-sm-4">
									<button class="btn btn-default btn-lg btn-block col-sm-4" ng-click="updateBackToList();">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
								</div>  	
							</div> 
				   		</div>
					</div>
		</form> 
	</div>
</div>