<div ng-controller="mainCtrl">
    <div ng-controller="msgBoxCtrl" class="msg-box">
        <div class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            飞飞信鸽
                        </h4>
                    </div>
                    <!-- /.modal-header -->

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 left">
                                <div ng-include="templates.categoryArea"></div>
                            </div>
                            <div class="col-sm-18 right">
                                <div ng-include="templates.listArea"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
