<div class="row">
    <ol class="breadcrumb">
        当前位置：
        <li><a ui-sref="main.products">商品</a></li>
        <li><a ui-sref="main.chooseCatBrand">添加商品</a></li>
        <li class="active">选择品牌类目</li>
    </ol>
</div>
<div  class="row">
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>这里的类目和品牌信息，是在您开通飞飞商城帐号时，我们与您确认及经审核后的类目和品牌，若需要新增类目或品牌，请联系我们。谢谢！
        邮箱：zhaoshang@corp.globalmarket.com
    </div>
</div>
<div class="row">
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &lowast;  选择类目
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="radio" ng-repeat="category in supplierCategories">
                                <label>
                                    <input type="radio" name="categories" ng-click="selectCategory(category.id, category.name)" value="{{category.id}}">{{category.name}}
                                </label>
                            </div>
                        </div>
                        <p class="broad bg-info">您选择的类目：<b>{{product.categoryName}}</b></p>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &lowast;  选择品牌
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="radio" ng-repeat="brand in supplierBrands">
                                <label>
                                    <input type="radio" name="brands" ng-click="selectBrand(brand.id, brand.name)"  value="{{brand.id}}">{{brand.name}}
                                </label>
                            </div>
                        </div>
                        <p class="broad bg-info">您选择的品牌：<b>{{product.brandName}}</b></p>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row (nested) -->
        <div class="row">
            <div class="col-lg-18">
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" ng-click="gotoStep2()" id="gotoStep2Btn">下一步</button>
                </div>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>



