<div class="row">
    <ol class="breadcrumb">
        当前位置：
        <li><a href="" ng-click="backToList()"><span class="fa fa-arrow-circle-left"></span>&nbsp;返回商品列表</a></li>
        <li class="active">查看/编辑商品 {{roPro.productName}}</li>
    </ol>
</div>

<!--<div class="row">
    --{{roPro | json}}----

    <br/>
    --{{product | json}}----

</div>-->

<div class="row editPage" id="productEditForm">
    <!--&lt;!&ndash; Brief &ndash;&gt;
    <div ng-include="templates.brief"/>-->

    <!-- Tab -->
    <ul class="nav nav-tabs nav-justified nav-custom">
        <li ng-class="tabClass(tab.id)" ng-repeat="tab in tabs" tab="tab">
            <a href="javascript:void(0)" ng-click="setActiveTab(tab)">
            <span class="{{tab.icon}}"/> &nbsp;&nbsp;{{tab.label}}
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <div class="tab-pane fade" ng-class="tabContentClass(tab.id)" ng-repeat="tab in tabs" id="{{tab.id}}" ng-include="tab.currTemplate"></div>
    </div>

</div>



