<!-- 商品列表页面-->
<div id="productListPage">
    <div class="row functionBar">
        <ol class="breadcrumb">当前位置：
            <li><a ui-sref="main.products">商品</a></li>
            <li class="active">商品列表</li>
        </ol>

        <div class="searchBarControl">
            <a href="" ng-click="showSearchBar()" ng-if="!isSearchBarShow()"><i class="fa fa-caret-down"></i> 显示搜索栏</a>
            <a href="" ng-click="hideSearchBar()" ng-if="isSearchBarShow()"><i class="fa fa-caret-up"></i> 隐藏搜索栏</a>
        </div>
    </div>
    <div class="row" ng-class="{'show':isSearchBarShow(),'hidden':!isSearchBarShow()}">
        <div class="panel panel-default panel-search">
            <div class="panel-body">
                <form class="form-horizontal" role="form" id="productSearchForm" name="productSearchForm">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">商品类型:</label>
                                <div class="col-sm-18">
                                    <label class="checkbox-inline" ng-repeat="item in _productTypes">
                                        <input type="checkbox"  name="productTypes[]"
                                               ng-checked="query.productTypes.indexOf(item.value) > -1"
                                               ng-click="toggleSelection(query.productTypes, item.value)"
                                               value="{{item.value}}"> {{item.label}}
                                    </label>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">上架状态:</label>
                                <div class="col-sm-18">
                                    <label class="checkbox-inline" ng-repeat="item in _shelvesStatuses">
                                        <input type="checkbox"  name="shelvesStatuses[]"
                                               ng-checked="query.shelvesStatuses.indexOf(item.value) > -1"
                                               ng-click="toggleSelection(query.shelvesStatuses, item.value)"
                                               value="{{item.value}}"> {{item.label}}
                                    </label>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">监控状态:</label>
                                <div class="col-sm-18">
                                    <label class="checkbox-inline" ng-repeat="item in _watchStatuses">
                                        <input type="checkbox"  name="watchStatuses[]"
                                               ng-checked="query.watchStatuses.indexOf(item.value) > -1"
                                               ng-click="toggleSelection(query.watchStatuses, item.value)"
                                               value="{{item.value}}"> {{item.label}}
                                    </label>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">商品名称:</label>
                                <div class="col-sm-18">
                                    <input class="form-control" name="productName" ng-model="query.productName" placeholder="">
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">商品型号:</label>
                                <div class="col-sm-18">
                                    <input class="form-control" name="model" ng-model="query.model" placeholder="">
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">SKU编号:</label>
                                <div class="col-sm-18">
                                    <input class="form-control" name="skuCode" ng-model="query.skuCode" placeholder="">
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->


                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">商家编码:</label>
                                <div class="col-sm-18">
                                    <input class="form-control" name="mftProductCode" ng-model="query.mftProductCode" placeholder="">
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">商品类目:</label>
                                <div class="col-sm-18">
                                    <select class="form-control" name="categoryId" ng-model="query.categoryId" ng-options="category.id as category.name for category in supplierCategories">
                                        <option value="">-------请选择-------</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>

                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" >
                                        <label class="col-sm-24 control-label">飞飞价:</label>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{ 'has-error': productSearchForm.minPrice.$invalid && !productSearchForm.minPrice.$pristine }">
                                        <div class="col-sm-24">
                                            <input class="form-control" name="minPrice" ng-model="query.minPrice" placeholder="" validate-float/>
                                            <div class="help-block"
                                                 ng-show="productSearchForm.minPrice.$dirty && productSearchForm.minPrice.$invalid">
                                                <span ng-show="productSearchForm.minPrice.$error.float">
                                                    请输入有效的正浮点数(最多两位小数)
                                                </span>
                                            </div>
                                            <!-- /.help-block-->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-24 control-label">至</label>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group"  ng-class="{ 'has-error': productSearchForm.maxPrice.$invalid && !productSearchForm.maxPrice.$pristine }">
                                        <div class="col-sm-24">
                                            <input class="form-control" name="maxPrice" ng-model="query.maxPrice" placeholder="" validate-float>
                                            <div class="help-block"
                                                 ng-show="productSearchForm.maxPrice.$dirty && productSearchForm.maxPrice.$invalid">
                                                <span ng-show="productSearchForm.maxPrice.$error.float">
                                                    请输入有效的正浮点数(最多两位小数)
                                                </span>
                                            </div>
                                            <!-- /.help-block-->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-24 control-label">库存:</label>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{ 'has-error': productSearchForm.minQuantityOnHand.$invalid && !productSearchForm.minQuantityOnHand.$pristine }">
                                        <div class="col-sm-24">
                                            <input class="form-control" name="minQuantityOnHand" ng-model="query.minQuantityOnHand" placeholder="" validate-integer>
                                            <div class="help-block"
                                                 ng-show="productSearchForm.minQuantityOnHand.$dirty && productSearchForm.minQuantityOnHand.$invalid">
                                                <span ng-show="productSearchForm.minQuantityOnHand.$error.integer">
                                                    请输入有效的整数
                                                </span>
                                            </div>
                                            <!-- /.help-block-->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-24 control-label">至</label>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{ 'has-error': productSearchForm.maxQuantityOnHand.$invalid && !productSearchForm.maxQuantityOnHand.$pristine }">
                                        <div class="col-sm-24">
                                            <input class="form-control" name="maxQuantityOnHand" ng-model="query.maxQuantityOnHand" placeholder="" validate-integer>
                                            <div class="help-block"
                                                 ng-show="productSearchForm.maxQuantityOnHand.$dirty && productSearchForm.maxQuantityOnHand.$invalid">
                                                <span ng-show="productSearchForm.maxQuantityOnHand.$error.integer">
                                                    请输入有效的整数
                                                </span>
                                            </div>
                                            <!-- /.help-block-->
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>

                        <div class="col-sm-2">
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" ng-click="search()" id="searchBtn"
                                        ng-disabled="!productSearchForm.$valid"><span class="glyphicon glyphicon-search"></span> 查  询</button>
                            </div>
                            <!-- /.form-group -->
                        </div>

                        <div class="col-sm-1"></div>

                        <div class="col-sm-1">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="resetSearch()">重置</button>
                            </div>
                            <!-- /.form-group -->
                        </div>

                    </div>
                    <!-- /.row -->
                </form>


            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="panel panel-default panel-list-page">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- button bar -->
                        <div class="form-group" style="margin-bottom: 0px;">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-checked="selectedItems4All.length != 0 && selectedItems.length == selectedItems4All.length"
                                       ng-click="toggleSelectionAll(selectedItems, selectedItems4All)"> 全选
                            </label>
                            <a href="" tabindex="10"  id="multiShelveBtn" class="btn btn-default navbar-btn" ng-click="showModal4MultiShelve()">批量上架</a>
                            <a href="" tabindex="11"  id="multiOffShelveBtn" class="btn btn-default navbar-btn" ng-click="showModal4MultiOffShelve()">批量下架</a>
                            <a href="" tabindex="12"  id="multiDeleteBtn" class="btn btn-default navbar-btn" ng-click="showModal4MultiDelete()">批量删除</a>
                            <!--<button type="button" class="btn btn-default navbar-btn">批量导入商品</button>-->
                            <a ui-sref="main.chooseCatBrand" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-plus"></span> 添 加 商 品</a>
                        </div>
                    </div>
                    <div class="col-sm-12 pull-right text-right">
                        <div ng-table-pagination="productTableParams" template-url="$templates.paginationShort"></div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <!-- data table -->
                <div class="row">
                    <div class="">
                        <table ng-table="productTableParams" class="table-info table-condensed table-hover table-striped table table-custom">
                            <tbody>
                            <tr ng-repeat="product in $data">
                                <td width="10px" data-title="'#'" >
                                    <input type="checkbox" ng-checked="selectedItems.indexOf(product.id) > -1"
                                           ng-click="toggleSelection(selectedItems, product.id)" ng-init="selectedItems4All.push(product.id)"/>
                                </td>
                                <td width="110px"  data-title="'图片'"  >
                                    <img ng-src="{{getProdImageUrl(product.image)}}"/>
                                </td>
                                <td width=""  data-title="'商品'" sortable="'productName'" >
                                    <a href="" ng-click="showDetail(product.productId)"><b>{{product.productName}}</b></a>
                                    <ul class="list-unstyled">
                                        <li>SKU:  {{product.skuCode}}</li>
                                        <li>型号: {{product.model}}</li>
                                        <li>品牌: {{product.brand}}</li>
                                    </ul>
                                </td>
                                <td width="200px" style="text-align: right;" data-title="'飞飞价'" sortable="'price'">
                                    <a href="" editable-text="product.price" onbeforesave="savePrice(product.id,$data)">
                                        {{ product.price | currency:' &yen;' }}
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td width="200px" style="text-align: right;" data-title="'库存'" sortable="'quantityOnHand'">
                                    <div ng-class="{'bg-danger':product.quantityOnHand==0, 'bg-warning':product.quantityOnHand<10}">
                                        <a href="" editable-number="product.quantityOnHand"  onbeforesave="saveQuantityOnHand(product.id,$data)">
                                            {{ product.quantityOnHand }}
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </td>
                                <td width="100px" style="text-align: center;" data-title="'状态'" sortable="'status'">
                        <span ng-class="{'text-danger':product.status==0, 'text-success':product.status==1,'text-muted':product.status==2}">
                            {{product.status | productShelvesStatus}}
                        </span>
                                </td>
                                <td width="100px" style="text-align: center;" data-title="'监控'" sortable="'watchStatus'">{{product.watchStatus | productWatchStatus}}</td>
                                <td width="230px" data-title="'操作'" >
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-click="showDetail(product.productId)">编辑</button>
                                        <button type="button" class="btn btn-default" ng-if="canShelve(product)" ng-click="showModal4MultiShelve(product)">上架</button>
                                        <button type="button" class="btn btn-default" ng-if="canOffShelve(product)" ng-click="showModal4MultiOffShelve(product)">下架</button>
                                        <button type="button" class="btn btn-default" ng-if="canApplyOnShelve(product)" ng-click="showModal4ApplyOnShelve(product)">申请上架</button>
                                        <button type="button" class="btn btn-default" ng-if="canDelete(product)" ng-click="showModal4MultiDelete(product)">删除</button>
                                        <a class="btn btn-default" ng-if="canPreview(product)" ng-href="http://item.feifei.com/preview/{{product.skuCode}}.html" target="_blank">预览</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="loading" ng-if="!$loaded"></div>
                    <!-- /.loading -->
                </div>

            </div>
            <div class="panel-footer">
                <!-- pagination -->
                <div ng-table-pagination="productTableParams" template-url="$templates.pagination"></div>
            </div>
        </div>
    </div>


</div>


<!-- 商品确认上架Modal-->
<div ng-include="templates.multiShelveModal"></div>
<!-- 商品确认下架Modal-->
<div ng-include="templates.multiOffShelveModal"></div>
<!-- 商品确认删除Modal-->
<div ng-include="templates.multiDeleteModal"></div>
<!-- 申请上架Modal-->
<div ng-include="templates.applyOnShelveModal"></div>

<!-- 商品详细页面-->
<div id="productEditPage" ng-controller="productEditCtrl" style="display:none;">
    <div ng-include="templates.productEditPage"></div>
</div>


